{% extends 'security/security_layout.html' %}

{% block content %}
<div class="container mt-5 pt-3">
  <div class="d-flex">
    <a class="bd-highlight" href='javascript:self.history.back();'>
      <i class="bi bi-arrow-left" style="font-size: x-large;"></i>
    </a>
    <div class="mx-3 h2">Add Visitor</div>
    <div class="ms-auto">
      <!-- Button trigger modal -->
      <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#staticBackdrop">
        Add Visitor
      </button>
      <!-- Modal -->
      <div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
        aria-labelledby="staticBackdropLabel" aria-hidden="true">
        <div class="modal-dialog">
          <div class="modal-content">
            <form action="{{url_for('addvisitor')}}" enctype="multipart/form-data" method="POST">
              <div class="modal-header">
                <h5 class="modal-title" id="staticBackdropLabel">Add New Visitor</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
              </div>
              <div class="modal-body">
                <div class="mb-3">
                  <label for="exampleFormControlInput1" class="form-label">Name</label>
                  <input type="text" class="form-control" name="vname" id="exampleFormControlInput1"
                    placeholder="Enter visitor name">
                </div>
                <div class="row">
                  <div class="col">
                    <div class="mb-3">
                      <label for="exampleFormControlInput1" class="form-label">Phone Number</label>
                      <input type="tel" maxlength="10" class="form-control" name="vmobile" id="exampleFormControlInput1"
                        placeholder="Enter visitor Phone Number">
                    </div>
                  </div>
                  <div class="col">
                    <div class="mb-3">
                      <label for="exampleFormControlInput1" class="form-label">Vehical Number</label>
                      <input type="text" class="form-control" name="vehical_no" id="exampleFormControlInput1"
                        placeholder="Enter visitor Vehical Number">
                    </div>
                  </div>
                </div>
                <div class="mb-3 ">
                  <label for="exampleFormControlInput1" class="form-label">Member Name</label>
                  <input type="text" class="form-control" name="username" id="exampleFormControlInput1"
                    placeholder="Enter Member Name">
                </div>
                <div class="row">
                  <div class="col">
                    <div class="mb-3">
                      <label for="exampleFormControlInput1" class="form-label">Wing Name/Number</label>
                      <input type="text" class="form-control" name="Mwing" id="exampleFormControlInput1"
                        placeholder="Enter Wing Name/Number">
                    </div>
                  </div>
                  <div class="col">
                    <div class="mb-3">
                      <label for="exampleFormControlInput1" class="form-label">Flat Number</label>
                      <input type="text" class="form-control" name="Mflatno" id="exampleFormControlInput1"
                        placeholder="Enter Flat Number">
                    </div>
                  </div>
                </div>
                <div class="mb-3">
                  <label class="form-label" for="vpic ">Visitor Photo</label>
                  <input type="file" class="form-control" name="vpic" id="vpic">
                </div>
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <button type="submit" class="btn btn-primary">Add Visitor</button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
  <hr>
  <div class="container">
    <span class="h5">
      Upcoming Visitor
    </span>
    <hr>
    {% if (account[0]|length)==0 %}
    <div class="container">
      <p class="h3 m-5 text-muted text-center">No New Visitor</p>
    </div>
    {% else %}
    <div class="row row-cols-1 row-cols-md-3 g-4">
      {% for data in (range(account|length)|reverse) %}
      <div class="col">
        <div class="card">
          <img src="/static/upload/vpic/{{account[data]['vpic']}}" class="img-fluid rounded-start " style="height: 200px;">

          <div class="card-body">
            <h5 class="card-title">{{ account[data]['vname']}}</h5>
            <div class="card-subtitle text-muted h6 mb-2">
              <span class="">
                {{ account[data]['vmobile'] }}
              </span>
              <!-- <div class="col">
                <i class="bi bi-telephone"></i>
              </div> -->
            </div>
            <div class="row">
              <div class="col">
                <i class="bi bi-building"></i>
                <span class="mx-1 text-uppercase">
                  {{ account[data]['Mwing'] }}, {{ account[data]['Mflatno'] }}
                </span>
              </div>
            </div>
            <div class="row">
              <div class="col">
                <div class="row">
                  <div class="col">
                    <i class="bi bi-clock"></i>
                    <span class="mx-1 text-uppercase">
                      {{ account[data]['in_time'] }}
                    </span>
                  </div>
                </div>
              </div>
              <div class="col">
                <div class="row">
                  <div class="col">
                    <i class="bi bi-calendar3"></i>
                    <span class="mx-1 ">
                      {{ account[data]['in_date'] }}
                    </span>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="card-footer d-flex flex-row-reverse">
            <form action="{{ url_for('upvisitor') }}" method="POST">
              <input type="hidden" name="vid" value="{{account[data]['vid']}}" required>
              <button class="btn btn-outline-secondary btn-sm mx-1" type="submit">
                <i class="bi bi-check2"></i></button>
            </form>

          </div>

        </div>
      </div>
      {% endfor %}
    </div>
    {% endif %}
  </div>
</div>



{% endblock %}