{% extends 'security/security_layout.html' %}

{% block title %}visitorlog{% endblock %}

{% block content %}
<div>
  <table  class="table" style="width:100%">

    {% if account !=0 %}
         {% for data  in account %}
         <tr class="candidates-list">
          <td class="title">
            <div class="thumb">
            <img  src="/static/upload/vpic/vpic{{data[vpic]}}" height="70%" width="20%">
            
            <h6 class="mb-2" ><b>{{ data['vname'] }}</b></h6>
                    <li><i class="fas fa-mobile"></i> <b>Contact No: </b>{{ data['vmobile'] }} </li>
                  </li>
                </li>
                
              </ul>
            </div>
          </div>
        </div>
      </td>
      </tr>
        
       </table>
     
   {% else %}
       
      
       <b><h4>No Data Found.</h4> </b><br>
       {% endfor %} 
   {% endif %} 
   
   </div>

   {% endblock %}