{% extends 'security/security_layout.html' %}

{% block content %}
<div class="container mt-5 pt-3">
    <div class="d-flex">
        <a class="bd-highlight" href='javascript:self.history.back();'>
            <i class="bi bi-arrow-left" style="font-size: x-large;"></i>
        </a>
        <div class="mx-3 h2">Security Profile</div>    
    </div>

    <div>
        <hr>
        <!-- Personal Information-->
        <div class="col">
            <div class="card-herader bg-transparent">
                <span class="h5">Personal Information</span>
                <button type="button" class="btn btn-link" data-bs-toggle="modal" data-bs-target="#staticBackdrop"
                    style="font-weight: 500; text-decoration: none;">Edit</button>
              
            </div>
            <!-- Security Personal Information  Edit Modal-->
            <div  class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
                     aria-labelledby="staticBackdropLabel" aria-hidden="true">
                    <div class="modal-dialog modal-dialog-centered">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="staticBackdropLabel">Personal Information</h5>
                                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                            </div>
                            <form action="/rportal/security_update" method="POST">
                                    <div class="modal-body">
                                        <div class="row mb-2">
                                            <div class="col form-floating mb-3">
                                                <input type="text" class="form-control" id="SecnameId" name="name"
                                                    value="{{ account['security_name'] }}" placeholder="{{ account['security_name'] }}">
                                                <label for="SecnameId" class="mx-2">Name</label>
                                            </div>
                                            <div class="col form-floating mb-3">
                                                <input type="text" class="form-control" id="SecmobileId"name="mobile"
                                                value="{{ account['security_mobile'] }}"placeholder="{{ account['security_mobile'] }}" >
                                                <label for="SecmobileId" class="mx-2">Mobile No</label>
                                            </div>
                                        </div>
                                        <div class="row mb-2">
                                            <div class="col form-floating mb-3">
                                                <input type="text" class="form-control" id="SecusernameId" name="name"
                                                    value="{{ account['security_username'] }}" placeholder="{{ account['security_username'] }}"disabled>
                                                <label for="SecusernameId" class="mx-2">Username</label>
                                            </div>
                                            <div class="col form-floating mb-3">
                                                <input type="text" class="form-control" id="SeccodeId"
                                                    placeholder="{{ account['security_code'] }}" value="{{ account['security_code'] }}"
                                                    disabled>
                                                <label for="SeccodeId" class="mx-2">Society Code</label>
                                            </div>
                                        </div>

                                        <p style="font-size: x-small;">
                                            <a href="{{ url_for('forgot_password') }}">Change
                                                Password</a>
                                        </p>
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                                        <button class="btn btn-primary" type="submit" id="changeSec">Done</button>
                                    </div>
                            </form>
                        </div>
                    </div>
                </div>        

            </div>
            <div class="card-body">
                <div class="row mb-2">
                    <div class="col form-floating mb-3">
                        <input type="text" class="form-control" id="SnameId" name="name" value="{{ account['security_name'] }}"
                            placeholder="{{ account['security_name'] }}" disabled>
                            <label for="SnameId" class="mx-2">Name</label>
                    </div>
                    <div class="col form-floating mb-3">
                        <input type="text" class="form-control" id="SecusernameId" placeholder="{{ account['security_username'] }}"
                            value="{{ account['security_username'] }}" disabled>
                        <label for="SecusernameId" class="mx-2">Username</label>
                    </div>

                </div>
                <div class="row mb-2">
                    <div class="col form-floating mb-3">
                        <input type="text" class="form-control" id="SeccodeId" value="{{ account['security_code'] }}"
                            placeholder="{{ account['security_code'] }}" disabled>
                        <label for="SeccodeId" class="mx-2">Society Code</label>
                    </div>
                    <div class="col form-floating mb-3">
                        <input type="text" class="form-control" id="SecmobileId"name="mobile" placeholder="{{ account['security_mobile'] }}"
                            value="{{ account['security_mobile'] }}" disabled>
                        <label for="SecmobileId" class="mx-2">Mobile Number</label>
                    </div>

                </div>
                
                          
            </div>

        </div>
    </div>
</div>


<!--

<h2>Security Profile Page</h2>
<div>
    <h3>Your account details are below:</h3>
    <h4>Personal Details:<button style=" background-color: Transparent;
        background-repeat:no-repeat;
        border: none;
        cursor:pointer;
        overflow: hidden;"  onclick="openModal()" ><i class="fas fa-user-edit"></i></button></h4>
    <table>
        <tr>
            <td>Name:</td>
            <td>{{ account['security_name'] }}</td>
        </tr>
        <tr>    
            <td>Username:</td>
            <td>{{ account['security_username'] }}</td>
        </tr>
        <tr>
            <td>Society Code:</td>
            <td>{{ account['security_code'] }}</td>
        </tr>
        <tr>
            <td>Mobile Number:</td>
            <td>{{ account['security_mobile'] }}</td>
        </tr>
    
    </table>
    <br>    
     -->
    <dialog id="dialog">
    <button alignment="right" onclick="closeModal()"  class="btn-close" aria-label="Close" ></button>
    <br><h4>Update Profile</h4><br>
     <form action="/rportal/security_update" method="POST">
        <label>Name:</label><br>
        <input type="text" name="name" value="{{ account['security_name'] }}"><br>
        <label>Mobile Number:</label><br>
        <input type="text" name="mobile" value="{{ account['security_mobile'] }}"><br><br>
        <a href="{{ url_for('forgot_password') }}" class="d-inline-block mb-0">Change Password</a><br>
        <p>Note: Save existing details first before changing password</p><br>
        <button class="btn btn-primary" type="submit">Update</button><br>
        <br>
     </form>
    
    </dialog>
       

<style>
    #dialog{width:300px;}
.right{float:right}
</style>

<script>
    var dailog = document.getElementById("dialog"); 

function openModal() { 
   // dailog.show(); 
      dailog.showModal();
} 

function closeModal() { 
    dailog.close(); 
} 

</script>
   
{% endblock %}