{% extends 'security/security_layout.html' %}

{% block title %}rportal{% endblock %}

{% block content %}
<div class="container mt-5 pt-3">
    <h2>Security Dashboard</h2>
    <h6>Good to see you back!</h6>
    <div class="container-fluid text-dark my-3 shadow text-white" style="border-radius: 15px;">
        <br>
        <p class="text-black">
            <script type="text/javascript" src="https://www.brainyquote.com/link/quotebr.js"></script><br>
        </p>
    </div>
</div>

{% endblock %}