<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title>{% block title %}{% endblock %}</title>
		<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
		<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.1/css/all.css">
		<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
		<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.1/css/all.css">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<script src="https://code.jquery.com/jquery-1.10.2.min.js"></script>
    	<link href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.0/dist/css/bootstrap.min.css" rel="stylesheet">
		<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.0/dist/js/bootstrap.bundle.min.js"></script>
		<link rel="stylesheet" href="/static/styles.css">
	</head>
	<body class="loggedin">
		<nav class="navtop">
			<div>
				<h1>rportal</h1>
                <a href="{{ url_for('security_home') }}"><i class="fas fa-home"></i>Home</a>
				<br>
				<a href="{{ url_for('security_profile') }}"><i class="fas fa-user-circle"></i>Profile</a>
				<br>
				<a href="{{ url_for('security_complaint') }}"><i class="fas fa-complaint"></i>Complaint</a>
				<br>
				<a href="{{ url_for('view_contactst') }}"><i class="fas fa-mobile"></i>Contacts</a>
            	<br>
				<a href="{{ url_for('logout') }}"><i class="fas fa-sign-out-alt"></i>Logout</a>
				<br>
			</div>
		</nav>
		<div class="content">
			{% block content %}{% endblock %}
		</div>
	</body>
</html>