{% extends 'security/security_layout.html' %}

{% block title %}rportal - security Complaints{% endblock %}

{% block content %}

<div class="container mt-5 pt-3">
    <div class="row row-cols-auto">
        <a class="col" href='javascript:self.history.back();'>
            <i class="bi bi-arrow-left" style="font-size: x-large;"></i>
        </a>
        <h2 class="col">Manage Complaint</h2>
    </div>
    <!-- TABS -->
    <ul class="nav nav-tabs justify-content-lg-evenly mt-3" id="myTab" role="tablist">
        <li class="nav-item" role="presentation">
            <button class="nav-link active" id="home-tab" data-bs-toggle="tab" data-bs-target="#home" type="button"
                role="tab" aria-controls="home" aria-selected="true"><i class="bi bi-exclamation-diamond"></i>
                Active/New complaints</button>
        </li>
        <li class="nav-item" role="presentation">
            <button class="nav-link" id="profile-tab" data-bs-toggle="tab" data-bs-target="#profile" type="button"
                role="tab" aria-controls="profile" aria-selected="false"> <i class="bi bi-check2-all"></i>
                Review replied complaints</button>
        </li>
        <li class="nav-item" role="presentation">
            <button class="nav-link" id="contact-tab" data-bs-toggle="tab" data-bs-target="#contact" type="button"
                role="tab" aria-controls="contact" aria-selected="false"> <i class="bi bi-clock-history"></i>
                View History</button>
        </li>
    </ul>
    <div class="tab-content" id="myTabContent">
        <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
            <div class="accordion accordion-flush my-3" id="accordionFlush{{data}}">
                {% if (account[0]|length)==0 %}
                <div class="container">
                    <p class="h3 m-5 text-muted text-center">no active complaint</p>
                </div>
                {% else %}
                {% for data in range(account|length) %}
                <div class="accordion-item">
                    <h2 class="accordion-header" id="flush-heading{{data}}">
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                            data-bs-target="#flush-collapse{{data}}" aria-expanded="false"
                            aria-controls="flush-collapse{{data}}">
                            <strong>{{account[data]['complaint_name']}}</strong>
                            <span class="badge rounded-pill bg-primary mx-2" style="font-size: x-small;">NEW</span>
                        </button>
                    </h2>
                    <div id="flush-collapse{{data}}" class="accordion-collapse collapse"
                        aria-labelledby="flush-heading{{data}}" data-bs-parent="#accordionFlush{{data}}">
                        <div class="accordion-body ">
                            <label style="font-weight:600;">Date/Time:</label>
                            <span class="mx-1">{{ account[data]['complaint_time']}}</span><br>
                            <label style="font-weight:600;">Name:</label>
                            <span class="mx-1">{{ account[data]['complaint_name']}}</span><br>
                            <label style="font-weight:600;">Complaint against:</label>
                            <span class="mx-1">{{ account[data]['complaint_against']}}</span><br>
                            <label style="font-weight:600;">Subject:</label>
                            <span class="mx-1">{{ account[data]['complaint_subject']}}</span><br>
                            <label style="font-weight:600;">Message:</label>
                            <span class="mx-1  text-break">{{ account[data]['complaint_message']}}</span><br>
                            <button type="button" class="btn btn-primary mt-3" data-bs-toggle="modal"
                                data-bs-target="#staticBackdrop{{data}}">
                                Reply
                            </button>
                            <p class="mt-1" style="font-size:xx-small;">Note: You can give your reply only
                                <b>once.</b>
                            </p>
                            <!-- REPLY MODAL -->
                            <div class="modal  fade" id="staticBackdrop{{data}}" data-bs-backdrop="static"
                                data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabe{{data}}"
                                aria-hidden="true">
                                <div class="modal-dialog modal-dialog-centered ">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h5 class="modal-title" id="staticBackdropLabe{{data}}">Complaint Reply
                                            </h5>
                                            <button type="button" class="btn-close" data-bs-dismiss="modal"
                                                aria-label="Close"></button>
                                        </div>
                                        <div class="modal-body">
                                            <form action="rportal/security_complaint" method="post"
                                                id="replyForm{{data}}">
                                                <textarea name="reply" class="form-control" id="complaintReply"
                                                    placeholder="write your view on complaint here" rows="3"></textarea>
                                                <input type="hidden" name="cid"
                                                    value="{{account[data]['complaint_id']}}">
                                                <!-- <input type="text"  placeholder="Enter Your Reply"><br><br> -->
                                                <!-- <button type="submit">Send </button><br> -->
                                            </form>
                                        </div>
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-secondary"
                                                data-bs-dismiss="modal">Close</button>
                                            <input type="submit" form="replyForm{{data}}"
                                                class="btn btn-primary"></input>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- END REPLY MODAL -->
                        </div>
                    </div>
                </div>
                {% endfor %}
                {% endif %}
            </div>
        </div>
        <div class="tab-pane fade" id="profile" role="tabpanel" aria-labelledby="profile-tab">
            <div class="accordion accordion-flush my-3" id="accordionFlush{{data1}}">
                {% if (account1[0]|length)==0 %}
                <div class="container">
                    <p class="h3 m-5 text-muted text-center">no reviewed or replied complaints</p>
                </div>
                {% else %}
                {% for data1 in range(account1|length) %}
                <div class="accordion-item">
                    <h2 class="accordion-header" id="flush-heading{{data1}}">
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                            data-bs-target="#flush-collapse{{data1}}" aria-expanded="false"
                            aria-controls="flush-collapse{{data1}}">
                            <strong>{{account1[data1]['complaint_name']}}</strong>
                            <span class="badge rounded-pill bg-warning mx-2" style="font-size: x-small;">review</span>

                        </button>
                    </h2>
                    <div id="flush-collapse{{data1}}" class="accordion-collapse collapse"
                        aria-labelledby="flush-heading{{data1}}" data-bs-parent="#accordionFlush{{data1}}">
                        <div class="accordion-body ">
                            <label style="font-weight:600;">Date/Time:</label>
                            <span class="mx-1">{{ account1[data1]['complaint_time']}}</span><br>
                            <label style="font-weight:600;">Name:</label>
                            <span class="mx-1">{{ account1[data1]['complaint_name']}}</span><br>
                            <label style="font-weight:600;">Complaint against:</label>
                            <span class="mx-1">{{ account1[data1]['complaint_against']}}</span><br>
                            <label style="font-weight:600;">Subject:</label>
                            <span class="mx-1">{{ account1[data1]['complaint_subject']}}</span><br>
                            <label style="font-weight:600;">Message:</label>
                            <span class="mx-1  text-break">{{ account1[data1]['complaint_message']}}</span><br>
                            <label style="font-weight:600;">Reply by {{account1[data1]['complaint_against']}}:</label>
                            <span class="mx-1  text-break">{{account1[data1]['complaint_reply']}}</span><br>
                            <label style="font-weight:600;">Status:</label>
                            <span class="mx-1 text-uppercase "
                                style="font-weight: 900;">{{account1[data1]['complaint_status']}}</span><br>
                            
                        </div>
                    </div>
                </div>
                {% endfor %}
                {% endif %}
            </div>
        </div>
        <div class="tab-pane fade" id="contact" role="tabpanel" aria-labelledby="contact-tab">
            <div class="accordion accordion-flush my-3" id="accordionFlush{{data2}}">
                {% if (account2[0]|length)==0 %}
                <div class="container">
                    <p class="h3 m-5 text-muted text-center">no history available</p>
                </div>
                {% else %}
                {% for data2 in range(account2|length) %}
                <div class="accordion-item">
                    <h2 class="accordion-header" id="flush-heading{{data2}}">
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                            data-bs-target="#flush-collapse{{data2}}" aria-expanded="false"
                            aria-controls="flush-collapse{{data2}}">
                            <strong>{{account2[data2]['complaint_name']}}</strong>
                            <span class="badge rounded-pill bg-success mx-2" style="font-size: x-small;">closed</span>

                        </button>
                    </h2>
                    <div id="flush-collapse{{data2}}" class="accordion-collapse collapse"
                        aria-labelledby="flush-heading{{data2}}" data-bs-parent="#accordionFlush{{data2}}">
                        <div class="accordion-body ">
                            <label style="font-weight:600;">Date/Time:</label>
                            <span class="mx-1">{{ account2[data2]['complaint_time']}}</span><br>
                            <label style="font-weight:600;">Name:</label>
                            <span class="mx-1">{{ account2[data2]['complaint_name']}}</span><br>
                            <label style="font-weight:600;">Complaint against:</label>
                            <span class="mx-1">{{ account2[data2]['complaint_against']}}</span><br>
                            <label style="font-weight:600;">Subject:</label>
                            <span class="mx-1">{{ account2[data2]['complaint_subject']}}</span><br>
                            <label style="font-weight:600;">Message:</label>
                            <span class="mx-1  text-break">{{ account2[data2]['complaint_message']}}</span><br>
                            <label style="font-weight:600;">Reply by {{account2[data2]['complaint_against']}}:</label>
                            <span class="mx-1  text-break">{{account2[data2]['complaint_reply']}}</span><br>
                            <label style="font-weight:600;">Reply by you:</label>
                            <span class="mx-1  text-break">{{account2[data2]['complaint_reply_closing']}}</span><br>
                            <label style="font-weight:600;">Status:</label>
                            <span class="mx-1 text-uppercase "
                                style="font-weight: 900;">{{account2[data2]['complaint_status']}}</span><br>
                        </div>
                    </div>
                </div>
                {% endfor %}
                {% endif %}
            </div>
        </div>
    </div>
</div>

{% endblock %}