{% extends 'member/mlayout.html' %}

{% block title %}R-Portal - View Contacts{% endblock %}

{% block content %}	
<style>
    table, th, td {
      border:1px solid black;
    }
</style>
	

<div>
    <h3>Important Document</h3>
{% if account !=0 %}
{% for data  in account %}
<table  class="table" style="width:100%">
  <td>
      
      <a  href="{{data['document']}}" download="{{data['doc_filename']}}" target="blank">{{data['doc_filename']}}</a>
 
</table>

{% else %}


<b><h4>No Data Found.</h4> </b><br>
{% endfor %} 
{% endif %} 
<a href='javascript:self.history.back();'>Go Back</a>
</div>

</div>

{% endblock %}