<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title>R-Portal - Member Registeration</title>
		<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
		<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.1/css/all.css">
	</head>
	
<body>

	<h1>Member Registeration</h1>

	<div class="links">
		<h3>
		<label>Already have an account? : </label>
		<a href="{{ url_for('login') }}">Login</a>
		</h3>
	</div>
	<form action="{{ url_for('mcode') }}" method="post" autocomplete="off">

    <div class="Mregister">

        <h3>Dear Member,<br> Pleasr enter the Society Code provided by your Secretary for verification: </h3>

        <label for="code">
            <i class="fas fa-building"></i>
        </label>
        <input type="text" name="code" placeholder="Enter Code" id="code" required>
		<h4><div class="msg">{{ msg }}</div></h4>
        <input type="submit" value="Verify" href="/mverify">
		<br>
    </div>
	</form>
</body>
</html>