{% extends 'member/mlayout.html' %}

{% block title %}R-Portal Member Complaint{% endblock %}

{% block content %}
<br>
<h3>Make Complaint</h3>

<form action="{{ url_for('member_complaint') }}" method="post" autocomplete="on">
		
    <div class="member_complaint">

        <h3>Add new complaint: </h3>
        <h4><div class="msg">{{ msg }}</div></h4>

        <label for="complaint_subject">
            <i class="fas fa-sticky-note"></i>
        </label>
        <input type="text" name="complaint_subject" placeholder="Enter Subject" id="complaint_subject" required>
        <br><br>
        
        <label for="complaint_message">
            <i class="fas fa-sticky-note"></i>
        </label>
        <input type="text" name="complaint_message" placeholder="Enter Details" id="complaint_message" required>
        <br><br>

        <button type="submit" value="add">Add Complaint</button>
    
        </div>
    </div>
</form>

{% endblock %}