{% extends 'member/mlayout.html' %}

{% block title %}rportal{% endblock %}

{% block content %}
<div class="container pt-3 my-5">
    <h2>Member Dashboard</h2>
    <h6>Good to see you back, {{ Mname }}!</h6>
    <div class="container-fluid text-dark my-3 shadow text-white" style="border-radius: 15px;">
        <br>
        <p class="text-black">
            <script type="text/javascript" src="https://www.brainyquote.com/link/quotebr.js"></script><br>
        </p>
    </div>
</div>


{% endblock %}