{% extends 'member/mlayout.html' %}

{% block title %}R-Portal - Member Maintenance{% endblock %}

{% block content %}
<div class="container mt-5 pt-3">
    <div class="row row-cols-auto">
        <a class="col" href='javascript:self.history.back();'>
            <i class="bi bi-arrow-left" style="font-size: x-large;"></i>
        </a>
        <h2 class="col">Maintenance</h2>
    </div>
    {% if (account[0]|length)==0 %}
    <div>
        <h5>Secretary of your society haven't added maintenance rules yet.</h5>
    </div>
    {% else %}
    <div>
        <h6>{{ msg }}</h6>
        <ul class="nav nav-tabs justify-content-lg-evenly mt-3" id="myTab" role="tablist">
            <li class="nav-item" role="presentation">
                <button class="nav-link" id="profile-tab" data-bs-toggle="tab" data-bs-target="#profile" type="button"
                    role="tab" aria-controls="profile" aria-selected="false"> <i class="bi bi-check2-all"></i>
                    Pending payments</button>
            </li>
            <li class="nav-item" role="presentation">
                <button class="nav-link active" id="home-tab" data-bs-toggle="tab" data-bs-target="#home" type="button"
                    role="tab" aria-controls="home" aria-selected="true"><i class="bi bi-exclamation-diamond"></i>
                    Past payments</button>
            </li>
        </ul>
        <div class="tab-content" id="myTabContent">
            <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
                <div class="accordion accordion-flush my-3" id="accordionFlush{{data1}}">
                    {% if (account1[0]|length)==0 %}
                    <div class="container">
                        <p class="h3 m-5 text-muted text-center">No records to show<p>
                    </div>
                    {% else %}
                    {% for data1 in range(account1|length) %}
                    <div class="accordion-item">
                        <h2 class="accordion-header" id="flush-heading{{data1}}">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                data-bs-target="#flush-collapse{{data1}}" aria-expanded="false"
                                aria-controls="flush-collapse{{data1}}">
                                <strong>Paid ₹{{ account1[data1]['amount']}} on {{ account1[data1]['paid_date']}}</strong>
                                <span class="badge rounded-pill bg-success mx-2" style="font-size: x-small;">paid</span>
                            </button>
                        </h2>
                        <div id="flush-collapse{{data1}}" class="accordion-collapse collapse"
                            aria-labelledby="flush-heading{{data1}}" data-bs-parent="#accordionFlush{{data1}}">
                            <div class="accordion-body ">
                                <label style="font-weight:600;">Name:</label>
                                <span class="mx-1">{{ account1[data1]['Mname']}}</span><br>
                                <label style="font-weight:600;">Added on:</label>
                                <span class="mx-1">{{ account1[data1]['bill_date']}}</span><br>
                                <label style="font-weight:600;">Amount:</label>
                                <span class="mx-1">{{ account1[data1]['amount']}}</span><br>
                                <label style="font-weight:600;">Paid on:</label>
                                <span class="mx-1">{{ account1[data1]['paid_date']}}</span><br>
                                <label style="font-weight:600;">Due Date:</label>
                                <span class="mx-1  text-break">{{ account1[data1]['due_date']}}</span><br>
                            </div>
                        </div>
                    </div>
                    {% endfor %}
                    {% endif %}
                </div>
            </div>
            <div class="tab-pane fade" id="profile" role="tabpanel" aria-labelledby="profile-tab">
                <div class="accordion accordion-flush my-3" id="accordionFlush{{data2}}">
                    {% if (account2[0]|length)==0 %}
                    <div class="container">
                        <p class="h3 m-5 text-muted text-center">No payments pending</p>
                    </div>
                    {% else %}
                    {% for data2 in range(account2|length) %}
                    <div class="accordion-item">
                        <h2 class="accordion-header" id="flush-heading{{data2}}">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                data-bs-target="#flush-collapse{{data2}}" aria-expanded="false"
                                aria-controls="flush-collapse{{data2}}">
                                <strong>{{account2[data2]['Mname']}}</strong>
                                <span class="badge rounded-pill bg-warning mx-2" style="font-size: x-small;">unpaid</span>
                            </button>
                        </h2>
                        <div id="flush-collapse{{data2}}" class="accordion-collapse collapse"
                            aria-labelledby="flush-heading{{data2}}" data-bs-parent="#accordionFlush{{data2}}">
                            <div class="accordion-body ">
                                <label style="font-weight:600;">Name:</label>
                                <span class="mx-1">{{ account2[data2]['Mname']}}</span><br>
                                <label style="font-weight:600;">Added on:</label>
                                <span class="mx-1">{{ account2[data2]['bill_date']}}</span><br>
                                <label style="font-weight:600;">Amount pending:</label>
                                <span class="mx-1">{{ account2[data2]['amount']}}</span><br>
                                <label style="font-weight:600;">Due Date:</label>
                                <span class="mx-1  text-break">{{ account2[data2]['due_date']}}</span><br>
                                <form action="/rportal/maintenance_pay" method="post">
                                    <input type="hidden" name="id" value="{{account2[data2]['main_id']}}" required>
                                    <input type="hidden" name="amount" value="{{account2[data2]['amount']}}" required>
                                   
                                    {% for data3 in account3 %}
                                    <input type="hidden" name="soc_bal" value="{{ data3['soc_bal']}}  " required>
                                    <input type="submit" class="btn btn-primary mt-3" value="Pay ₹{{account2[data2]['amount']}}"></input>
                                </form>
                            </div>
                        </div>
                    </div>
                    {% endfor %}
                    {% endfor %}
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
    {% endif %}
</div>
{% endblock %}