{% extends 'member/mlayout.html' %}
{% block title %}rportal - Member Profile{% endblock %}
{% block content %}

<div class="container mt-5 pt-3">
    <div class="d-flex">
        <a class="bd-highlight" href='javascript:self.history.back();'>
            <i class="bi bi-arrow-left" style="font-size: x-large;"></i>
        </a>
        <div class="mx-3 h2">My Account</div>
    </div>
    <div>
        <hr>
        <!-- PERSONAL INFO -->
        <div class="col">
            <div class="card-header bg-transparent">
                <span class="h5">Personal Information</span>
                <button type="button" class="btn btn-link" data-bs-toggle="modal" data-bs-target="#staticBackdrop"
                    style="font-weight: 500; text-decoration: none;">Edit</button>
                <br><span class="h5">{{ msg }}</span>
                <!-- <button type="button" class="btn btn-primary " onclick="openModal()"><i
                        class="fas fa-user-edit"></i></button> -->
            </div>
            <!-- PI Edit Modal -->
            <div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
                aria-labelledby="staticBackdropLabel" aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="staticBackdropLabel">Personal Information</h5>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <form action="/rportal/mupdate" method="POST">
                            <div class="modal-body">
                                <div class="row mb-2">
                                    <div class="col form-floating mb-3">
                                        <input type="text" class="form-control" id="MnameId" name="name"
                                            value="{{ account['Mname'] }}" placeholder="{{ account['Mname'] }}">
                                        <label for="MnameId" class="mx-2">Name</label>
                                    </div>
                                    <div class="col form-floating mb-3">
                                        <input type="text" class="form-control" id="usernameId"
                                            placeholder="{{ account['username'] }}" value="{{ account['username'] }}"
                                            disabled>
                                        <label for="usernameId" class="mx-2">Username</label>
                                    </div>
                                </div>
                                <div class="row mb-2">
                                    <div class="col form-floating mb-3">
                                        <input type="tel" maxlength="10" name="mobile" value="{{ account['Mmobile'] }}"
                                            class="form-control " id="mobileId" placeholder="{{ account['Mmobile'] }}">
                                        <label for="mobileId" class="mx-2">Mobile No</label>
                                    </div>
                                    <div class="col form-floating mb-3">
                                        <input type="email" class="form-control" name="email"
                                            value="{{ account['Memail'] }}" id="emailId"
                                            placeholder="{{ account['Memail'] }}">
                                        <label for="emailId" class="mx-2">Email Id</label>
                                    </div>
                                </div>
                                <p style="font-size: x-small;">
                                    <a href="{{ url_for('forgot_password') }}">Change
                                        Password</a>
                                </p>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                                <button class="btn btn-primary" type="submit" id="changePI">Done</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
            <!-- PI -->
            <div class="card-body ">
                <div class="row mb-2">
                    <div class="col form-floating mb-3">
                        <input type="text" class="form-control" id="SnameId" name="name" value="{{ account['Mname'] }}"
                            placeholder="{{ account['Mname'] }}" disabled>
                        <label for="SnameId" class="mx-2">Name</label>
                    </div>
                    <div class="col form-floating mb-3">
                        <input type="text" class="form-control" id="usernameId" placeholder="{{ account['username'] }}"
                            value="{{ account['username'] }}" disabled>
                        <label for="usernameId" class="mx-2">Username</label>
                    </div>
                </div>
                <div class="row mb-2">
                    <div class="col form-floating mb-3">
                        <input type="tel" maxlength="10" name="mobile" value="{{ account['Mmobile'] }}"
                            class="form-control " id="mobileId" placeholder="{{ account['Mmobile'] }}" disabled>
                        <label for="mobileId" class="mx-2">Mobile No</label>
                    </div>
                    <div class="col form-floating mb-3">
                        <input type="email" class="form-control" name="email" value="{{ account['Memail'] }}"
                            id="emailId" placeholder="{{ account['Memail'] }}" disabled>
                        <label for="emailId" class="mx-2">Email Id</label>
                    </div>
                </div>
            </div>
        </div>
        <!-- ADDRESS -->
        <div class="col">
            <div class="card-header bg-transparent">
                <span class="h5">Address</span>
            </div>
            <div class="card-body ">
                <div class="row mb-2">
                    <div class="col form-floating mb-3">
                        <input type="text" class="form-control" id="SnameId" value="{{ account['name'] }}"
                            placeholder="{{ account['name']}}" disabled>
                        <label for="SnameId" class="mx-2">Society Name</label>
                    </div>
                    <div class="col form-floating mb-3">
                        <input type="text" class="form-control" id="addressId"
                            placeholder="{{ account['Mwing'] }}, {{ account['Mflatno'] }}"
                            value="{{ account['Mwing'] }}, {{ account['Mflatno'] }}" disabled>
                        <label for="addressId" class="mx-2">Wing, Flat No</label>
                    </div>
                </div>
                <div class="row mb-2">
                    <div class="col form-floating mb-3">
                        <input type="text" class="form-control" id="addressId"
                            placeholder="{{ account['road'] }}, {{ account['area'] }}"
                            value="{{ account['road'] }}, {{ account['area'] }}" disabled>
                        <label for="addressId" class="mx-2">Address</label>
                    </div>
                    <div class="col form-floating mb-3">
                        <input type="text" value="{{ account['city'] }}" class="form-control " id="cityId"
                            placeholder="{{account['city']}}" disabled>
                        <label for="cityId" class="mx-2">City</label>
                    </div>
                </div>
                <div class="row mb-2">
                    <div class="col form-floating mb-3">
                        <input type="email" class="form-control" name="email" value="{{ account['state'] }}"
                            id="stateId" placeholder="{{ account['state'] }}" disabled>
                        <label for="stateId" class="mx-2">State</label>
                    </div>
                    <div class="col form-floating mb-3">
                        <input type="text" value="{{ account['pin'] }}" class="form-control " id="pincodeId"
                            placeholder="{{account['pin']}}" disabled>
                        <label for="pincodeId" class="mx-2">Pin Code</label>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>

{% endblock %}