{% extends 'member/mlayout.html' %}

{% block title %}R-Portal - Member Profile{% endblock %}

{% block content %}
<h2>Member Profile Page</h2>
<div>
    <h3>Your account details are below:</h3>
    <h4>Personal Details:</h4>
    <table>
        <tr>
            <td>Name:</td>
            <td>{{ account['Mname'] }}</td>
        </tr>
        <tr>    
            <td>Username:</td>
            <td>{{ account['Musername'] }}</td>
        </tr>
        <tr>
            <td>Flat Number:</td>
            <td>{{ account['Mflatno'] }}</td>
        </tr>
        <tr>
            <td>Wing:</td>
            <td>{{ account['Mwing'] }}</td>
        </tr>
        <tr>
            <td>Email:</td>
            <td>{{ account['Memail'] }}</td>
        </tr>
        <tr>
            <td>Mobile Number:</td>
            <td>{{ account['Mmobile'] }}</td>
        </tr>
        <tr>
            <td>Password:</td>
            <td>{{ account['Mpassword'] }}</td>
        </tr>
    </table>
    <h3>Your Society details are below:</h3>
    <h4>Society Location:</h4>
    <table>
        <tr>
            <td>Name:</td>
            <td>{{ account['name'] }}</td>
        </tr>
        <tr>
            <td>Society Code:</td>
            <td>{{ account['code'] }}</td>
        </tr>
        <tr>    
            <td>Road:</td>
            <td>{{ account['road'] }}</td>
        </tr>
        <tr>
            <td>Area:</td>
            <td>{{ account['area'] }}</td>
        </tr>
        <tr>
            <td>City:</td>
            <td>{{ account['city'] }}</td>
        </tr>
        <tr>
            <td>State:</td>
            <td>{{ account['state'] }}</td>
        </tr>
        <tr>
            <td>Pin code:</td>
            <td>{{ account['pin'] }}</td>
        </tr>
    </table>
    <br>    
    <a href='javascript:self.history.back();'>Go Back</a>
</div>
{% endblock %}