<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="https://fonts.googleapis.com/css?family=Spartan:wght@300;600&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="{{ url_for('static', filename='mverify.css') }}">
  <link rel="stylesheet" type="text/css" href="/static/css/bootstrap.min.css">
  <script type="text/javascript" src="/static/js/bootstrap.min.js"></script>
  <title>R-Portal - Society Details</title>
</head>

<body>

  <div id="Page1">
  <nav class="navbar navbar-expand-lg  py-3  fixed-top">
    <div class="container">
      <a href="{{ url_for('mainhome') }}" class="navbar-brand">R-Portal</a>
    </div>
  </nav>
  <section class="bg-light-pink text-dark p-lg-0 pt-lg-5 text-start text-sm-start">
    <div class="container">
      <div class="d-sm-flex align-items-center justify-content-between pb-1">
        <div id="div1" class="px-lg-5 pt-lg-5 p-4 w-100 align-self-center shadow">
          <h2 class="font-weight-bold mb-4"> Society Details</h2>
          <form action="{{url_for('mcode')}}" method="post">
            <label style="font-weight:300">Society Name</label><br>
            <h6>
              {{ account['name'] }}
            </h6>
            <label style="font-weight:300">Society Address</label><br>
            <h6>{{ account['road'] }},
              {{ account['area'] }},
              {{ account['city'] }}</h6>
            <div class="row mb-3">
              <div class="col-sm-3">
                <label style="font-weight:300 ">State</label>
                <h6>{{ account['state'] }}</h6>
              </div>
              <div class=" col-sm-3">
                <label style="font-weight:300">Pin Code</label>
                <h6>{{ account['pin'] }}</h6>
              </div>
            </div>
            <p style="font-size:smaller">*Note: if your society details are correct then click NEXT otherwise go back to
              check your R-Code </p>
            <div class="d-flex justify-content-between px-lg-5">
              <div class="button " id="back">
                <a href="{{url_for('mcode')}}" style="color: white;  text-decoration: none;">
                  &larr; Back
                </a>
              </div>
              <div class="button " id="next">
               <!----- <a href="{{url_for('mregister')}}" style="color: white;  text-decoration: none;">
                  Next &rarr;
                </a>--->
                <a href="#" onclick="return show('Page2','Page1');" style="color: white;  text-decoration: none;">Next &rarr;</a>
              </div>
            </div>
          </form>
        </div>
        <img id="img2" class="img-fluid w-50 d-none d-sm-block" src="/static/Icon/mVerify.svg" alt="" />
      </div>
    </div>
  </section>
  

  
  </div>
  <div id="Page2" style="display:none">
    <nav class="navbar navbar-expand-lg  py-3  fixed-top">
      <div class="container">
        <a href="{{ url_for('mainhome') }}" class="navbar-brand">R-Portal</a>
      </div>
    </nav>
  
    <div class="bg-light-pink text-dark p-lg-0 pt-lg-5 text-start text-sm-start">
      <div class="container">
        <div class="d-sm-flex align-items-center justify-content-between">
          <img class=" w-50 h-100 d-none d-sm-block" src="../static/Icon/mRegistration.svg" alt="" />
          <div class="card px-lg-5 py-lg-5 py-sm-5 p-4 w-100 align-self-center justify-content-center shadow">
            <h1 class="font-weight-bold mb-4">Member Registration
            </h1>
  
  
            <form action="{{ url_for('mregister') }}" method="post" autocomplete="on">
              {% if msg=='' %}
              <div></div>
              {% else %}
              <div class="d-flex justify-content-center">
                <div class="alert alert-primary" role="alert">
                  {{ msg }}
                </div>
              </div>
              {% endif %}
              <section class="card-body" id="c1">
                <div class="mb-3">
                  <label for="Mname">Enter Name</label>
                  <input type="text" class="form-control" name="Mname" placeholder={{ name }} id="Mname" readonly>
                  <span id="Mpname" style="color: crimson"></span>
                </div>
  
                <div class="row justify-content-between">
                  <div class=" mb-3">
                    <label for="Musername">Username</label>
                    <input type="text" class="form-control" name="Musername" placeholder={{ username }}
                      id="Musername" readonly>
                    <span id="Mpusername" style="color: crimson"></span>
  
                  </div>
                 <!---- <div class=" col-lg-6 mb-3">
                    <label for="Mcode">Socity Code</label>-->
                    <input type="hidden" class="form-control" value={{ account['code'] }} name="Mcode" placeholder="Society Code" id="Mcode" required>
                    <input type="hidden"  name="Semail" value={{ account['Semail'] }}>
                    <span id="Mpcode" style="color: crimson"></span>
                  </div>
                  <div class="row justify-content-between">
                    <div class="col-lg-6 mb-3">
                      <label for="Mflatno">Flat Number</label>
                      <input type="text" class="form-control" name="Mflatno" placeholder="Flat Number"
                        id="Mflatno" required>
                      <span id="Mpflatno" style="color: crimson"></span>
  
                    </div>
                    <div class="col-lg-6 mb-3">
                      <label for="Mwing">Wing Name</label>
                      <input type="text" class="form-control" name="Mwing" placeholder="Wing Name"
                        id="Mwing" required>
                      <span id="Mpwing" style="color: crimson"></span>
  
                    </div>
                  </div>
              </section>
              <section class="card-body" id="c2">
                <div class="  mb-3">
                  <label for="Memail">Email </label>
                  <input type="email" class="form-control" name="Memail" placeholder={{ email }}
                    id="Memail" readonly>
                  <span id="Memail" style="color: crimson"></span>
                </div>
  
                <div class="  mb-3">
                  <label for="Mmobile">Mobile Number</label>
                  <input type="text" class="form-control" name="Mmobile" placeholder={{ mobile }}
                    id="Mmobile" readonly>
                  <span style="font-size:x-small">PLZ Enter your Mobileno without +91 </span>
                  <span id="Mpmobile" style="color: crimson"></span>
                </div>
              </section>
              <div class="d-flex justify-content-between px-lg-5">
                <div class="button " id="prev">
               
                  <a href="#" style="color: white;  text-decoration: none;" onclick="return show('Page1','Page2');">&larr; Prev</a>
                </div>
               
               <!---- <div class="button" id="next">
                  Next &rarr;
                </div>-->
                <button class="button " type="submit" id="submit" value="Register">Submit</button>
              </div>
              <!-- <div class="button" id="submit" type="submit">							submit
              </div> -->
          </div>
          </form>
  
          <!-- <div class="mb-3 align-items-center">
              <h4>
                <label class="font-weight-bold align-items-center">Already have an account?
                </label>
                <a href="{{ url_for('login') }}">Login</a>
                </h>
            </div> -->
  
        </div>
      </div>
    </div>
    </div>
  
  
    <!-- Footer -->
    <footer class="pb-2 backgraund text-dark text-center position-relative">
      <div class="container">
        <p class="lead">Copyright &copy; 2021 R-Portal
          <!-- <img src="../static/Icon/DenApp.svg" class="img-fluid w-25" alt="" />  -->
        </p>
  
        <a href="#" class="position-absolute bottom-0 end-0 p-2">
          <i class="bi bi-arrow-up-circle h1"></i>
        </a>
      </div>
    </footer>
  </div>
    <script src="/static/mregister.js"></script>
    
  <script>
    function show(shown, hidden) {
      document.getElementById(shown).style.display='block';
      document.getElementById(hidden).style.display='none';
      return false;
    }
    </script>

</body>

</html>