{% extends 'member/mlayout.html' %}

{% block title %}R-Portal - Member Profile{% endblock %}

{% block content %}

<div>
    <div id="div">
   
    <table  class="table" style="size: auto;">
        
        
        {% for data in account %}
        
       <td> <b>Date: </b>{{ data['notice_time'] }}</td>
    
       <b>Subject :</b><h3>{{ data['notice_subject'] }}</h3>
       
       <td> <article>{{ data['notice_message'] }}</article><br><br></td>
               
              
     

            
    </table>

   
    {% endfor %}
</div>
    <br>   

    <a href='javascript:self.history.back();'>Go Back</a>
</div>

    <script>
        $.fn.toHtml=function(){
        
       return $(this).html($(this).text())
     
    }
    $('#div').toHtml()

    
    </script>
    

{% endblock %}