{% extends 'member/mlayout.html' %}

{% block title %}R-Portal - Member Profile{% endblock %}

{% block content %}

<div>
   
    <table  class="table" style="size: auto;">
        <tr>
           
            
            
        </tr> 
        {% for data in account %}
       Date: {{ data['notice_time'] }}</tr>
       
                <div id="div" type="hidden"><article>{{ data['notice_message'] }}</article></div>
               
              
     

      
    </table>

   
    {% endfor %}
    <br>   

    <a href='javascript:self.history.back();'>Go Back</a>
</div>

    <script>
        $.fn.toHtml=function(){
        
       return $(this).html($(this).text())
     
    }
    $('#div').toHtml()

    
    </script>
    

{% endblock %}