{% extends 'staff/staff_layout.html' %}

{% block title %}rportal - Staff Home{% endblock %}

{% block content %}
<div class="container my-5">
    <h2>Staff Dashboard</h2>
    <h6>Good to see you back , {{ staff_username }}!</h6>
    <div class="container-fluid text-dark my-3 shadow text-white" style="border-radius: 15px;">
        <br>
        <p class="text-black">
            <script type="text/javascript" src="https://www.brainyquote.com/link/quotebr.js"></script><br>
        </p>
    </div>
</div>



<!---

<h3>Staff Home Page</h3>
<p>Good to see you back, {{ staff_username }}!</p>
<div class="container p-3 my-3 bg-dark text-white" style="border-radius: 25px;  padding: 20px;
width: 250px;
height: 200px;" >
<br>
<script type="text/javascript" src="https://www.brainyquote.com/link/quotebr.js"></script><br>
</div>
-->
{% endblock %}