{% extends 'staff/staff_layout.html' %}

{% block title %}rportal - Staff Profile{% endblock %}

{% block content %}
<h2>Staff Profile Page</h2>
<div>
    <h3>Your account details are below:</h3>
    <h4>Personal Details:<button style=" background-color: Transparent;
        background-repeat:no-repeat;
        border: none;
        cursor:pointer;
        overflow: hidden;"  onclick="openModal()" ><i class="fas fa-user-edit"></i></button></h4>
    <table>
        <tr>
            <td>Name:</td>
            <td>{{ account['staff_name'] }}</td>
        </tr>
        <tr>    
            <td>Username:</td>
            <td>{{ account['staff_username'] }}</td>
        </tr>
        <tr>
            <td>Society Code:</td>
            <td>{{ account['staff_code'] }}</td>
        </tr>
        <tr>
            <td>Mobile Number:</td>
            <td>{{ account['staff_mobile'] }}</td>
        </tr>
       
    </table>
    <br>    
    
    <button class="btn btn-primary" onclick="openModal()" >Update Profile</button>  <br><br>
 
    <dialog id="dialog">
    <button alignment="right" onclick="closeModal()"  class="btn-close" aria-label="Close" ></button>
    <br><h4>Update Profile</h4><br>
    <form action="/R-Portal/staff_update" method="POST">
        <label>Name:</label><br>
        <input type="text" name="name" value="{{ account['staff_name'] }}"><br>
        <label>Mobile Number:</label><br>
        <input type="text" name="mobile" value="{{ account['staff_mobile'] }}"><br><br>
        <a href="{{ url_for('forgot_password') }}" class="d-inline-block mb-0">Change Password</a><br>
        <p>Note: Save existing details first before changing password</p><br>
        <button class="btn btn-primary" type="submit">Update</button><br>
        <br>
     </form>
    
    </dialog>
       

<style>
    #dialog{width:300px;}
.right{float:right}
</style>

<script>
    var dailog = document.getElementById("dialog"); 

function openModal() { 
   // dailog.show(); 
      dailog.showModal();
} 

function closeModal() { 
    dailog.close(); 
} 

</script>
    <a href='javascript:self.history.back();'>Go Back</a>
</div>
{% endblock %}