{% extends 'staff/staff_layout.html' %}

{% block title %}rportal - Staff Profile{% endblock %}

{% block content %}
<div class="container mt-5 pt-3">
  <div class="d-flex">
    <a class="bd-highlight" href='javascript:self.history.back();'>
        <i class="bi bi-arrow-left" style="font-size: x-large;"></i>
    </a>
      <div class="mx-3 h2">Important Contacts</div>    
  </div>
  <div>
    {% if account !=0 %}
    {% for contact in account %}
    <hr>
    <div class="row">
      <div class="col-sm-3">
         <p><h6>{{contact['contact_label']}} :{{contact['contact_no']}}</h6></p>
      </div>  
      <div class="col-sm-6">
         <button class="bi bi-telephone btn btn-secondary" href="tel:+101"> call {{contact['contact_no']}}</button>
      </div>
    </div>
    {% else %}
    <div>
    <hr>
    <div class="col">
      <div class="card-herader bg-transparent">
        <span class="h5">Emergency Helpline Numbers</span>
      </div>
    </div>  
    <hr>
    <div>
      <div>
        <div class="row">
          <div class="col-sm-3">
             <p><h6>Emergency Number:  112</h6></p>
          </div>  
          <div class="col-sm-6">
             <button class="bi bi-telephone btn btn-primary" href="tel:+122"> call 112</button>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-3">
             <p><h6>Police: 100</h6></p>
          </div>  
          <div class="col-sm-6">
             <button class="bi bi-telephone btn btn-info" href="tel:+100"> call 100</button>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-3">
             <p><h6>Fire:  101</h6></p>
          </div>  
          <div class="col-sm-6">
             <button class="bi bi-telephone btn btn-danger" href="tel:+101"> call 101</button>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-3">
             <p><h6>Ambulance :  102</h6></p>
          </div>  
          <div class="col-sm-6">
             <button class="bi bi-telephone btn btn-success" href="tel:+102"> call 102</button>
          </div>
        </div>             
        </div>
    </div>
</div> 
{% endfor %} 
{% endif %}
 </div>
</div>
{% endblock %}



<!--


<style>
    table, th, td {
      border:1px solid black;
    }
</style>
	

<div>
    <h3>Important Contacts</h3> <br>
    {% if account !=0 %}
    {% for contact in account %}
    <table  class="table" style="width:100%">
      <td>
          <label>{{contact['contact_label']}} :</label>
          <a  href="tel:+{{account['contact_no']}}" >{{contact['contact_no']}}</a>
      </td>
     
    </table>
    {% else %}
<b><h5>Emergency Helpline Numbers</h5>
</b>
<label>National Emergency Number:</label><a  href="tel:+112" >112</a><br>
<label>Police:</label><a  href="tel:+100" >100</a><br>
<label>Fire:</label> <a  href="tel:+101" >101</a>
<br> 
<label>Ambulance:</label><a  href="tel:+102" >102</a>
<br>

{% endfor %} 
{% endif %} 
    <br>    
    <a href='javascript:self.history.back();'>Go Back</a>
</div>


-->