{% extends 'admin/admin.html' %}

{% block title %}R-Portal x Ajinfotics!{% endblock %}

{% block content %}	
<style>
    table, th, td {
      border:1px solid black;
    }
</style>
	
<h2>All Society under R-Portal</h2>
<div>
    <table style="width:100%">
        <tr>
            <th>Name</th>
            <th>Road</th>
            <th>Area</th>
            <th>City</th>
            <th>State</th>
            <th>Pin code</th>
            <th>Society Code</th>
            <th>Account Name</th>
            <th>Account Number</th>
            <th>MMID</th>
            <th>Bank Name</th>
            <th>Branch</th>
            <th>IFSC Code</th>
            <th>KYC File</th>
        </tr> 
        {% for data in account %}
            <tr>
                <td>{{ data['name'] }}</td>
                <td>{{ data['road'] }}</td>
                <td>{{ data['area'] }}</td>
                <td>{{ data['city'] }}</td>
                <td>{{ data['state'] }}</td>
                <td>{{ data['pin'] }}</td>
                <td>{{ data['code'] }}</td>
                <td>{{ data['acname'] }}</td>
                <td>{{ data['acno'] }}</td>
                <td>{{ data['mmid'] }}</td>
                <td>{{ data['bankname'] }}</td>
                <td>{{ data['branch'] }}</td>
                <td>{{ data['ifsc'] }}</td>
                <td><a href= "{{( data['kyc_file']) }}" ,  download= "{{(data['kyc_file'])}} ">Download</a> </td>
              
           
      
       </tr>
       

{% endfor %}
    </table>
    <br>    
    <a href='javascript:self.history.back();'>Go Back</a>
</div>
{% endblock %}