{% extends 'admin/admin.html' %}

{% block content %}	
<div class="container mt-5 pt-3">
    <div class="d-flex">
      <a class="bd-highlight" href='javascript:self.history.back();'>
          <i class="bi bi-arrow-left" style="font-size: x-large;"></i>
      </a>
        <div class="mx-3 h2">Contact Data</div>    
    </div>
    <div>
        <hr>    
    </div>    

</div>

<style>
    table, th, td {
      border:1px solid black;
    }
</style>
	

<div>
   
    <table  class="table" style="width:100%">
        <tr>
            <th>Name</th>
            <th>Email</th>
            <th>Message</th>
            
        </tr> 
        {% for data in account %}
           
                <td>{{ data['name'] }}</td>
                <td> {{ data['email'] }}</td>
                <td>[{{ data['time'] }}]- &nbsp; {{ data['message'] }}</td>
              
            </tr>   
        {% endfor %}

    </table>
    <br>    
    
</div>
{% endblock %}