{% extends 'admin/admin.html' %}

{% block content %}
<div class="container mt-5 pt-3">

    <div class="d-flex">
        <a class="bd-highlight" href='javascript:self.history.back();'>
            <i class="bi bi-arrow-left" style="font-size: x-large;"></i>
        </a>
        <div class="mx-3 h2">Inactive Society under rportal</div>

    </div>
    <hr>
    <style>
        table,
        th,
        td {
            border: 1px solid black;
        }
    </style>


    <div>
        <h4>
            <div class="msg">{{ msg }}</div>
        </h4>
        <table class="table" style="width:100%">
            <tr>
                <th>Name</th>
                <th>Address</th>
                <th>Secretary Details</th>
                <th>Bank Details</th>
                <th>Address Proof</th>
                <th>Change Status</th>
                <th>Delete</th>
            </tr>
            {% for data in account %}
            <tr>
                <td>{{ data['name'] }}<br><br>
                    <b><a>Society Code: </a></b>{{ data['Scode'] }}<br>
                </td>
                <td>{{ data['road'] }}
                    {{ data['area'] }}<br>
                    {{ data['city'] }}
                    {{ data['state'] }}<br>
                    {{ data['pin'] }}</td>
                <td><b><a>Name: </a></b>{{ data['Sname'] }}<br>
                    <b><a>Flat no: </a></b> {{ data['Sflatno'] }}<br>
                    <b><a>Wing: </a></b> {{ data['Swing'] }}<br>
                    <b><a>Mobile: </a></b> {{ data['Smobile'] }}<br>
                    <b><a>Email: </a></b> {{ data['Semail'] }}
                </td>
                <td><b><a>AC Name: </a></b>{{ data['acname'] }}<br>
                    <b><a>Ac Number: </a></b> {{ data['acno'] }}<br>
                    <b><a>MMID: </a></b> {{ data['mmid'] }}<br>
                    <b><a>Bank Name: </a></b> {{ data['bankname'] }}<br>
                    <b><a>Branch: </a></b> {{ data['branch'] }}<br>
                    <b><a>IFSC Code: </a></b> {{ data['ifsc'] }}
                </td>
                <td><a href="/static/upload/{{data['kyc_file']}}" download="/static/upload/{{data['kyc_file']}}"
                        target="blank"><button class='btn btn-primary'>Download</button></a></td>
                <td>
                    <form action="/rportal/al_sec/{{data.Scode}}" method="post">
                        <input type="hidden" name="Sname" value={{ data['Sname'] }}></input>
                          <input type="hidden" name="name" value={{ data['name'] }}></input>
                          <input type="hidden" name="Semail" value={{ data['Semail'] }}></input>
                        <b> Status: </b>
                        <select onchange='if(this.value !=0 ) { this.form.submit(); }'>
                            <option value='0'>{{ data['secretarty_status'] }}</option>
                            <option value='1'>active</option>
                        </select>
                    </form>
                </td>
                <td>
                    <button type="button" class="btn btn-danger" data-bs-toggle="modal"
                    data-bs-target="#changeSecId"><i class="fa fa-trash"></i></button>

                  <div class="modal" id="changeSecId" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
                    aria-labelledby="changeSecIdLabel" aria-hidden="true">
                    <div class="modal-dialog modal-lg modal-dialog-centered">
                      <div class="modal-content">
                        <div class="modal-header">
                          <h3 class="modal-title" id="changeSecIdLabel">Reason for deletion</h3>
                          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <form action ="/rportal/r_sec" enctype="multipart/form-data" method="POST">
                          <div class="modal-body ">
                            <div class="col-5 form-floating mb-3">
                              <textarea type="text" class="form-control" id="Gname" name="message" value="" placeholder="Give Reason"
                                required>
                              </textarea>
                              <input type="hidden" name="email"  value="{{ data['Semail'] }}"></input>
                              <input type="hidden" name="Sname" value={{ data['Sname'] }}></input>
                              <input type="hidden" name="name" value={{ data['name'] }}></input>
                              <input type="hidden" name="Scode"  value="{{data['Scode']}}"></input>
                            </div>
                            
                          </div>
                          <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                            <button class="btn btn-danger" type="submit" id="changeNS">Delete</button>
                          </div>
                        </form>
                      </div>
                    </div>
                  </div>
                </td>
            </tr>
            {% endfor %}

        </table>

    </div>
</div>
{% endblock %}