{% extends 'secretary/slayout.html' %}

{% block title %}R-Portal - Staff Registeration{% endblock %}

{% block content %}
<h3>Staff Registeration</h3>
<h4>Please enter details below:</h4>

	<form action="{{ url_for('staff') }}"  enctype = "multipart/form-data" method="POST" autocomplete="on">
		
		<div class="staff">

			<h4><div class="msg">{{ msg }}</div></h4>

			<label for="staff_name">
				<i class="fas fa-heart"></i>
			</label>
			<input type="text" name="staff_name" placeholder="Enter Name" id="staff_name" required>
			<br><br>
			
			<label for="staff_username">
				<i class="fas fa-user"></i>
			</label>
			<input type="text" name="staff_username" placeholder="Username" id="staff_username" required>
			<br><br>
				
			<label for="staff_mobile">
				<i class="fas fa-mobile"></i>
			</label>
			<input type="text" name="staff_mobile" placeholder="Mobile Number" id="staff_mobile" required>
			<br><br>

			<label for="staff_password">
				<i class="fas fa-lock"></i>
			</label>
			<input type="password" name="staff_password" placeholder="Password" id="staff_password" required>
			<br><br>

            <label for="staff_code">
				<i class="fas fa-building"></i>
			</label>
			<input type="text" name="staff_code" placeholder="Code" id="staff_code" required>
			<br><br>

			<input clas="btn btn-primary" type="submit" value="Register"/>
			<a href='javascript:self.history.back();'>Go Back</a>

		</div>
	</form>
{% endblock %}