{% extends 'secretary/slayout.html' %}

{% block title %}R-Portal - Security Registeration{% endblock %}

{% block content %}
<h3>Security Guards Registeration</h3>
<h4>Please enter details below:</h4>

	<form action="{{ url_for('security') }}"  enctype = "multipart/form-data" method="POST" autocomplete="on">
		
		<div class="security">

			<h4><div class="msg">{{ msg }}</div></h4>

			<label for="security_name">
				<i class="fas fa-heart"></i>
			</label>
			<input type="text" name="security_name" placeholder="Enter Name" id="security_name" required>
			<br><br>
			
			<label for="security_username">
				<i class="fas fa-user"></i>
			</label>
			<input type="text" name="security_username" placeholder="Username" id="security_username" required>
			<br><br>
				
			<label for="security_mobile">
				<i class="fas fa-mobile"></i>
			</label>
			<input type="text" name="security_mobile" placeholder="Mobile Number" id="security_mobile" required>
			<br><br>

			<label for="security_password">
				<i class="fas fa-lock"></i>
			</label>
			<input type="password" name="security_password" placeholder="Password" id="security_password" required>
			<br><br>

            <label for="security_code">
				<i class="fas fa-building"></i>
			</label>
			<input type="text" name="security_code" placeholder="Code" id="security_code" required>
			<br><br>

			<input clas="btn btn-primary" type="submit" value="Register"/>
			<a href='javascript:self.history.back();'>Go Back</a>

		</div>
	</form>
{% endblock %}