{% extends 'secretary/slayout.html' %}

{% block content %}

<div class="container mt-5 pt-3">
    <div class="row row-cols-auto">
        <a class="col" href='javascript:self.history.back();'>
            <i class="bi bi-arrow-left" style="font-size: x-large;"></i>
        </a>
        <h2 class="col">Discussion Pannel</h2>
    </div>
    <hr>
    <div class="container-fluid my-3">
        {% if (account|length)==0 %}
        <div class="container">
            <p class="h3 m-5 text-muted text-center">Start Discussion</p>
        </div>
        {% else %}
        <div class="" style="overflow:auto; height:400px;">
            {% for data in (range((account|length))) %}
            {%if(((account[data]['message'])|length)!=0)%}
            <div class="card" style="border: none; width:100%">
                <div class="card-title d-flex mb-0 pb-0 justify-content-between">
                    <span style="font-weight: bold;">{{account[data]['msg_username']}}</span>
                    <span style="color:gray; font-size: x-small;">{{account[data]['msg_time']}}</span>
                </div>
                <div class="card "
                    style="border-left: 3px solid; border-radius: 0%;border-top: none; border-right: none; border-bottom: none;">
                    <span class="mx-2">
                        {{account[data]['message']}}
                    </span>
                </div>
            </div>
            {%else%}
            <div>
            </div>
            {% endif %}
            {% endfor %}
        </div>
        {% endif %}
        <form action="{{ url_for('add_chats') }}" method="post">

            <div class="input-group my-2">
                <input type="text" name="message" class="form-control" placeholder="Type a message"
                    aria-label="Type a message" aria-describedby="button-addon2">
                <button class="btn btn-outline-secondary" type="submit" id="button-addon2">
                    Send
                    <i class="bi bi-send"></i>
                </button>
            </div>
            <p style="font-size: xx-small;">Note: Message older then 72 hours will be automatically deleted! </p>

        </form>
    </div>

</div>

<!-- <script>
    function get_random_color() {
        var letters = '0123456789ABCDEF'.split('');
        var color = '#';
        for (var i = 0; i < 6; i++) {
            color += letters[Math.round(Math.random() * 15)];
        }
        return color;
    }

    $(function () {
        $("div.card").each(function () {
            var color = get_random_color();
            $(".random-color").css("border-left-color", get_random_color());
            // $(".card-title").css("color", get_random_color());
        });
    });
</script>
<style>
    table,
    th,
    td {

        border-left: 3px solid #15a362
            /* border: 1px solid black; */
    }
</style>

<div>

    <div id="" style="overflow:auto; ">

        {% if account !=0 %}
        {% for chat in account %}
        <table class="table bg-gradient-info" style="width:100%">
            <td>
                <h5>{{chat['msg_username']}} </h5>
                <h6>{{chat['message']}}</h6>
                <small>{{chat['msg_time']}}</small>
            </td>

        </table>

        {% else %}


        <b>
            <h4>No chat data</h4>
        </b><br>
        {% endfor %}
        {% endif %}
    </div>

    <form action="{{ url_for('add_chats') }}" method="post">
        <input type="text" style=" width: 95%; height: 50px;" name="message" placeholder="Type a message">
        <button type="submit" aria-hidden="true" style="background-color: Transparent;
    background-repeat:no-repeat;
    border: none;
    cursor:pointer;
    overflow: hidden;  "></button>

    </form>
    <p>Note: Message older then 72 hours will be automatically deleted! </p>
    <a href='javascript:self.history.back();'>Go Back</a>
</div> -->
{% endblock %}