{% extends 'secretary/slayout.html' %}

{% block title %}rportal - Secretary Complaints{% endblock %}

{% block content %}
<style>
    table, th, td {
      border:1px solid black;
    }
</style>
<h3>Manage Complaint</h3>
<div>
<button type="button" class="btn btn-info" data-toggle="collapse" data-target="#demo1"><i class="fa fa-warning" aria-hidden="true"></i> Active/New complaints</button>
<button type="button" class="btn btn-info" data-toggle="collapse" data-target="#demo2"><i class="fa fa-history" aria-hidden="true"></i> Review replied complaints</button>
<button type="button" class="btn btn-info" data-toggle="collapse" data-target="#demo3"><i class="fa fa-history" aria-hidden="true"></i> View History</button>
<br>
<div id="demo1" class="collapse">
<br>
<h4>Active complaints:</h4>
    <table class="table" style="width:100%">
<br>
      
        {% for data in account %}
        <div class="content">
            <tr>
                <td> 
                    <label><b>Date :</b></label>{{ data['complaint_time']}}<br>
                    <label><b>Name:</b></label>&nbsp;{{ data['complaint_name'] }}<br>
                    <label><b>Complaint against:</b></label>&nbsp;{{ data['complaint_against'] }}<br>
                    <label><b>Subject:</b></label> {{ data['complaint_subject'] }}<br>
                    <label><b>Message:</b></label> {{ data['complaint_message'] }}<br>
                    <button class="btn btn-primary" onclick="openModal()" >Reply</button>  <br>
                    <p>Note: You can give your reply only <b>once.</b></p>
                    <br><br>
 
                    <dialog id="dialog">
                    <button onclick="closeModal()"  class="btn-close" aria-label="Close" ></button><br>
                    <form action ="/rportal/manage_complaint" method="post">
                        <input type="hidden" name="cid" value="{{ data['complaint_id']}}" >
                        <input type="text" name="reply" placeholder="Enter Your Reply"><br><br>
                        <button   type="submit" >Send </button><br>         
                     </form>
                    </dialog>

                </td>
            </tr>   
        </div>            
        {% endfor %}
    </table>
</div>
    <br>    
    
<div id="demo2" class="collapse">
<br>
    <h4>Review replied complaints:</h4>
    <table class="table" style="width:100%">
<br>
    
        {% for data1 in account1 %}
        <div class="content">
            <tr>
                <br>
                <b>Complaint Subject:</b>&nbsp;{{ data1['complaint_subject'] }}<br><br>
                <b>Complaint message:</b>&nbsp;{{ data1['complaint_message'] }}<br><br>
                <b>Complaint Date Time: </b>&nbsp;{{ data1['complaint_time'] }}<br><br>
                <b>Complaint against:</b></label>&nbsp;{{ data1['complaint_against'] }}<br><br>
                <b>Reply by {{data1['complaint_against']}}:</b>&nbsp;{{data1['complaint_reply']}}<br><br>
                <b>Status: </b>&nbsp;{{data1['complaint_status']}}<br><br>
                <button class="btn btn-primary" onclick="openModal1()" >Reply</button>  <br>
                    <p>Note: You can give your reply only <b>once.</b></p>
                    <br><br>
 
                    <dialog id="dialog1">
                    <button onclick="closeModal1()"  class="btn-close" aria-label="Close" ></button><br>
                    <form action ="/rportal/manage_complaint" method="post">
                        <input type="hidden" name="cid" value="{{ data1['complaint_id']}}" >
                        <input type="text" name="reply" placeholder="Enter Your Reply"><br><br>
                        <button   type="submit" >Send </button><br>         
                     </form>
                    </dialog>

            </tr> 
            <hr>
        </div>
        {% endfor %}
    
    </table>
    </div> 
    <br>  
    
<div id="demo3" class="collapse">
<br>
    <h4>Complaint History:</h4>
    <table class="table" style="width:100%">
<br>
    
        {% for data2 in account2 %}
        <div class="content">
            <tr>
                <br>
                <b>Complaint Subject:</b>&nbsp;{{ data2['complaint_subject'] }}<br><br>
                <b>Complaint message:</b>&nbsp;{{ data2['complaint_message'] }}<br><br>
                <b>Complaint Date Time: </b>&nbsp;{{ data2['complaint_time'] }}<br><br>
                <b>Complaint against:</b></label>&nbsp;{{ data2['complaint_against'] }}<br><br>
                <b>Reply by {{data2['complaint_against']}}:</b>&nbsp;{{data2['complaint_reply']}}<br><br>
                <b>Reply by You:</b>&nbsp;{{data2['complaint_reply_closing']}}<br><br>
                <b>Status: </b>&nbsp;{{data2['complaint_status']}}<br><br>
            </tr> 
            <hr>
        </div>
        {% endfor %}
    
    </table>
    </div> 
    <br>
    <a href='javascript:self.history.back();'>Go Back</a>
</div>

<style>
    #dialog{width:500px;}
    #dialog1{width:500px;}
.right{float:right}
</style>

<script>
    var dailog = document.getElementById("dialog"); 
    var dailog1 = document.getElementById("dialog1"); 
    
function openModal() { 
   // dailog.show(); 
      dailog.showModal();
} 


function closeModal() { 
    dailog.close(); 
} 

function openModal1() { 
   // dailog.show(); 
      dailog1.showModal();
} 

function closeModal1() { 
    dailog1.close(); 
} 
</script>


<script type="text/javascript">
    // Get the modal
    var modal = document.getElementsByClassName('modal');
    
    // Get the button that opens the modal
    var btn = document.getElementsByClassName("myBtn");
    
    
    // Get the <span> element that closes the modal
    var span = document.getElementsByClassName("close1");
    
    // When the user clicks the button, open the modal 
    btn[0].onclick = function() {
        modal[0].style.display = "block";
    }
    
    btn[1].onclick = function() {
        modal[1].style.display = "block";
    }
    // When the user clicks on <span> (x), close the modal
    span[0].onclick = function() {
        modal[0].style.display = "none";
    }
    
    span[1].onclick = function() {
        modal[1].style.display = "none";
    }
    // When the user clicks anywhere outside of the modal, close it
    window.onclick = function(event) {
        if (event.target == modal[0]) {
             modal[0].style.display = "none";
         }
        if (event.target == modal[1]) {
             modal[1].style.display = "none";
         }  
    }
    
    </script>
    <style >
        /* Modal Header */
        .modal-header {
         padding: 2px 16px;
         background-color: #0e0f0e;
         color: white;
         text-align: center;
       }
       
       /* Modal Body */
       .modal-body {padding: 2px 16px;}
       
       /* Modal Footer */
       .modal-footer {
         padding: 2px 16px;
         background-color: #5cb85c;
         color: white;
       }
       
       /* Modal Content */
       .modal-content {
         position: relative;
         background-color: #fefefe;
         margin: auto;
         padding: 0;
         border: 1px solid rgb(247, 247, 247);
         width: 80%;
         box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
         animation-name: animatetop;
         animation-duration: 0.4s
       }
       
       /* Add Animation */
       @keyframes animatetop {
         from {top: -300px; opacity: 0}
         to {top: 0; opacity: 1}
       } 
       
       body{
           background-color: #f8f9fa!important
       }
       .p-4 {
           padding: 1.5rem!important;
       }
       .mb-0, .my-0 {
           margin-bottom: 0!important;
       }
       .shadow-sm {
           box-shadow: 0 .125rem .25rem rgba(0,0,0,.075)!important;
       }    
       
       /* user-dashboard-info-box */
       .user-dashboard-info-box .candidates-list .thumb {
           margin-right: 20px;
       }
       .user-dashboard-info-box .candidates-list .thumb img {
           width: 80px;
           height: 80px;
           -o-object-fit: cover;
           object-fit: cover;
           overflow: hidden;
           border-radius: 50%;
       }
       
       .user-dashboard-info-box .title {
           display: -webkit-box;
           display: -ms-flexbox;
           display: flex;
           -webkit-box-align: center;
           -ms-flex-align: center;
           align-items: center;
           padding: 30px 0;
       }
       
       .user-dashboard-info-box .candidates-list td {
           vertical-align: middle;
       }
       
       .user-dashboard-info-box td li {
           margin: 0 4px;
       }
       
       .user-dashboard-info-box .table thead th {
           border-bottom: none;
       }
       
       .table.manage-candidates-top th {
           border: 0;
       }
       
       .user-dashboard-info-box .candidate-list-favourite-time .candidate-list-favourite {
           margin-bottom: 10px;
       }
       
       .table.manage-candidates-top {
           min-width: 650px;
       }
       
       .user-dashboard-info-box .candidate-list-details ul {
           color: #969696;
       }
       
       /* Candidate List */
       .candidate-list {
           background: #ffffff;
           display: -webkit-box;
           display: -ms-flexbox;
           display: flex;
           border-bottom: 1px solid #eeeeee;
           -webkit-box-align: center;
           -ms-flex-align: center;
           align-items: center;
           padding: 20px;
           -webkit-transition: all 0.3s ease-in-out;
           transition: all 0.3s ease-in-out;
       }
       .candidate-list:hover {
           -webkit-box-shadow: 0px 0px 34px 4px rgba(33, 37, 41, 0.06);
           box-shadow: 0px 0px 34px 4px rgba(33, 37, 41, 0.06);
           position: relative;
           z-index: 99;
       }
       .candidate-list:hover a.candidate-list-favourite {
           color: #e74c3c;
           -webkit-box-shadow: -1px 4px 10px 1px rgba(24, 111, 201, 0.1);
           box-shadow: -1px 4px 10px 1px rgba(24, 111, 201, 0.1);
       }
       
       .candidate-list .candidate-list-image {
           margin-right: 25px;
           -webkit-box-flex: 0;
           -ms-flex: 0 0 80px;
           flex: 0 0 80px;
           border: none;
       }
       .candidate-list .candidate-list-image img {
           width: 80px;
           height: 80px;
           -o-object-fit: cover;
           object-fit: cover;
       }
       
       .candidate-list-title {
           margin-bottom: 5px;
       }
       
       .candidate-list-details ul {
           display: -webkit-box;
           display: -ms-flexbox;
           display: flex;
           -ms-flex-wrap: wrap;
           flex-wrap: wrap;
           margin-bottom: 0px;
       }
       .candidate-list-details ul li {
           margin: 5px 10px 5px 0px;
           font-size: 13px;
       }
       
       .candidate-list .candidate-list-favourite-time {
           margin-left: auto;
           text-align: center;
           font-size: 13px;
           -webkit-box-flex: 0;
           -ms-flex: 0 0 90px;
           flex: 0 0 90px;
       }
       .candidate-list .candidate-list-favourite-time span {
           display: block;
           margin: 0 auto;
       }
       .candidate-list .candidate-list-favourite-time .candidate-list-favourite {
           display: inline-block;
           position: relative;
           height: 40px;
           width: 40px;
           line-height: 40px;
           border: 1px solid #eeeeee;
           border-radius: 100%;
           text-align: center;
           -webkit-transition: all 0.3s ease-in-out;
           transition: all 0.3s ease-in-out;
           margin-bottom: 20px;
           font-size: 16px;
           color: #646f79;
       }
       .candidate-list .candidate-list-favourite-time .candidate-list-favourite:hover {
           background: #ffffff;
           color: #e74c3c;
       }
       
       .candidate-banner .candidate-list:hover {
           position: inherit;
           -webkit-box-shadow: inherit;
           box-shadow: inherit;
           z-index: inherit;
       }
       
       .bg-white {
           background-color: #ffffff !important;
       }
       .p-4 {
           padding: 1.5rem!important;
       }
       .mb-0, .my-0 {
           margin-bottom: 0!important;
       }
       .shadow-sm {
           box-shadow: 0 .125rem .25rem rgba(0,0,0,.075)!important;
       }
       
       .user-dashboard-info-box .candidates-list .thumb {
           margin-right: 20px;
       }
       
       
       
       </style>
{% endblock %}