{% extends 'secretary/slayout.html' %}

{% block title %}rportal - Create Meeting{% endblock %}

{% block content %}
<br>
<h3>Create Scheduled Meeting</h3>

<form action="{{ url_for('createmeeting') }}" method="post" autocomplete="on">
		
    <div class="member_complaint">

        <h3>Add Meeting Details Below: </h3>
        <h4><div class="msg">{{ msg2 }}</div></h4><br>
        <h4><div class="msg"><a href= '{{ msg }}'>{{msg}}</a><br>
        <h4><div class="msg">{{ msg1 }}</div></h4><br>

        <label for="topic">
   
        </label>
        <input type="text" name="topic" placeholder="Topic of the Meeting" id="topic" required>
        <br><br>
        <label for="complaint_message">
          
        </label>
        <input type="date" name="date" placeholder="Enter Date" id="date" required>
    
        <label for="complaint_message">
          
        </label>
        <input type="time" name="starttime" placeholder="Enter Start Time" id="starttime" required>
        <br><br>

        <label for="complaint_subject">
           
        </label>
        <input type="text" name="duration" placeholder="Meeting Duration" id="duration" required>
        <br><br>
        
        <label for="complaint_message">
          
        </label>
        <textarea  type="text" name="agenda" placeholder="Enter Agenda of the meeting" id="agenda" required></textarea>
        <br><br>

        <button type="submit" class="btn btn-primary" value="add">Create Meeting</button>
    
        </div>
    </div>
</form>

{% endblock %}