{% extends 'secretary/slayout.html' %}
{% block title %}rportal - Society Member Details{% endblock %}
{% block content %}
<div class="container mt-5 pt-3">
  <div class="row row-cols-auto">
    <a class="col" href='javascript:self.history.back();'>
      <i class="bi bi-arrow-left" style="font-size: x-large;"></i>
    </a>
    <h2 class="col">InActive Peoples</h2>
  </div>
  <hr>
  <div class="container">
    <div class="d-flex bd-highlight mb-3">
      <ul class="nav nav-pills" id="pills-tab" role="tablist">
        <li class="nav-item" role="presentation">
          <button class="nav-link active" id="pills-member-tab" data-bs-toggle="pill" data-bs-target="#pills-member"
            type="button" role="tab" aria-controls="pills-member" aria-selected="true">Member</button>
        </li>
        <li class="nav-item" role="presentation">
          <button class="nav-link" id="pills-staff-tab" data-bs-toggle="pill" data-bs-target="#pills-staff"
            type="button" role="tab" aria-controls="pills-staff" aria-selected="false">Staff</button>
        </li>
        <li class="nav-item" role="presentation">
          <button class="nav-link" id="pills-security-tab" data-bs-toggle="pill" data-bs-target="#pills-security"
            type="button" role="tab" aria-controls="pills-security" aria-selected="false">Security</button>
        </li>
      </ul>
    </div>
    <hr>
    <div class="tab-content" id="pills-tabContent">
      <div class="tab-pane fade show active" id="pills-member" role="tabpanel" aria-labelledby="pills-member-tab">
        {% if (account|length)==0 %}
        <div class="container">
          <p class="h3 m-5 text-muted text-center">no inactive member</p>
        </div>
        {% else %}
        <div class="row row-cols-1 row-cols-md-3 g-4">
          {% for data in account %}
          <div class="col">
            <div class="card ">
              <div class="card-body">
                <h5 class="card-title">
                  <!-- <div class="row">
                    <div class="col">
                      <i class="bi bi-person"></i> -->
                  {{data['Mname']}}
                  <!-- </div>
                  </div> -->
                </h5>
                <div class="row">
                  <div class="col">
                    <i class="bi bi-building"></i>
                    <span class="mx-1">
                      {{ data['Mwing'] }}, {{ data['Mflatno'] }}</span>
                  </div>
                </div>
                <div class="row">
                  <div class="col">
                    <i class="bi bi-telephone"></i>
                    <span class="mx-1 text-uppercase">
                      {{ data['Mmobile']}}
                    </span>
                  </div>
                </div>
                <div class="d-flex flex-row">
                  <div class="col">
                    <span style="font-weight: 500;">Status</span>
                  </div>
                  <div class="col">
                    <form action="/rportal/ac_members/{{data.Mid}}" method="post">
                      <input type="hidden" name="Mname" value={{ data['Mname'] }}></input>
                      <input type="hidden" name="Memail" value={{ data['Memail'] }}></input>
                      <select class="" onchange='if(this.value !=0 ) { this.form.submit(); }'>
                        <option class="text-uppercase" style="font-weight: 500;" value='0'>{{ data['member_status'] }}
                        </option>
                        <option class="text-uppercase" style="font-weight: 500;" value='1'>active</option>
                      </select>
                    </form>
                  </div>
                </div>
              </div>
              <div class="card-footer d-flex flex-row-reverse">
                <form action="/rportal/d_members/{{data.Mid}}" method="post">
                  <button aria-hidden="true" class="btn btn-outline-secondary btn-sm mx-1" type="submit">
                    <i class="bi bi-trash" aria-hidden="true"></i></button>
                  <input type="hidden" name="Mname" value={{ data['Mname'] }}></input>
                  <input type="hidden" name="Memail" value={{ data['Memail'] }}></input>
                </form>
              </div>
            </div>
          </div>
          {% endfor %}
        </div>
        {% endif %}
      </div>
      <div class="tab-pane fade" id="pills-staff" role="tabpanel" aria-labelledby="pills-profile-tab">

        {% if (account3|length)==0 %}
        <div class="container">
          <p class="h3 m-5 text-muted text-center">no staff</p>
        </div>
        {% else %}
        <div class="container">
          <div class="row row-cols-1 row-cols-md-3 g-4">
            {% for data in account3 %}
            <div class="col">
              <div class="card ">
                <div class="card-body">
                  <h5 class="card-title">
                    {{data['staff_name']}}
                  </h5>
                  <div class="row">
                    <div class="col">
                      <i class="bi bi-telephone"></i>
                      <span class="mx-1 text-uppercase">
                        {{ data['staff_mobile']}}
                      </span>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col">
                      <i class="bi bi-rainbow"></i>
                      <span class="mx-1 text-uppercase">
                        {{ data['post']}}
                      </span>
                    </div>
                  </div>
                  <div class="d-flex flex-row">
                    <div class="col">
                      <span style="font-weight: 500;">Status</span>
                    </div>
                    <div class="col">
                      <form action="/rportal/a_staff/{{data2.staff_id}}" method="post">
                        <select class="" onchange='if(this.value !=0 ) { this.form.submit(); }'>
                          <option class="text-uppercase" style="font-weight: 500;" value='0'>{{ data['staff_status'] }}
                          </option>
                          <option class="text-uppercase" style="font-weight: 500;" value='1'>active</option>
                        </select>
                      </form>
                    </div>
                  </div>
                </div>
                <div class="card-footer d-flex flex-row-reverse">
                  <a href="/rportal/d_staff/{{data.staff_id}}" class="btn btn-outline-secondary btn-sm mx-1"
                    aria-hidden="true" onclick="return confirm('Are You Sure For Delete ?')">
                    <i class="bi bi-trash" aria-hidden="true"></i>
                  </a>
                </div>
              </div>
            </div>
            {% endfor %}
          </div>
        </div>
        {% endif %}
      </div>
      <div class="tab-pane fade" id="pills-security" role="tabpanel" aria-labelledby="pills-security-tab">

        {% if (account2|length)==0 %}
        <div class="container">
          <p class="h3 m-5 text-muted text-center">no Security Gaurds</p>
        </div>
        {% else %}
        <div class="container">
          <div class="row row-cols-1 row-cols-md-3 g-4">
            {% for data in account2 %}
            <div class="col">
              <div class="card ">
                <div class="card-body">
                  <h5 class="card-title">
                    {{data['security_name']}}
                  </h5>
                  <div class="row">
                    <div class="col">
                      <i class="bi bi-telephone"></i>
                      <span class="mx-1 text-uppercase">
                        {{ data['security_mobile']}}
                      </span>
                    </div>
                  </div>
                  <div class="d-flex flex-row">
                    <div class="col">
                      <span style="font-weight: 500;">Status</span>
                    </div>
                    <div class="col">
                      <form action="/rportal/a_security/{{data.security_id}}">
                        <select class="" onchange='if(this.value !=0 ) { this.form.submit(); }'>
                          <option class="text-uppercase" style="font-weight: 500;" value='0'>{{ data['security_status']
                            }}
                          </option>
                          <option class="text-uppercase" style="font-weight: 500;" value='1'>active</option>
                        </select>
                      </form>
                    </div>
                  </div>
                </div>
                <div class="card-footer d-flex flex-row-reverse">
                  <a href="/rportal/d_security/{{data.security_id}}" class="btn btn-outline-secondary btn-sm mx-1"
                    aria-hidden="true" onclick="return confirm('Are You Sure For Delete ?')">
                    <i class="bi bi-trash" aria-hidden="true"></i>
                  </a>
                </div>
              </div>
            </div>
            {% endfor %}
          </div>
        </div>
        {% endif %}
      </div>
    </div>
  </div>
</div>
{% endblock %}