{% extends 'secretary/slayout.html' %}
{% block title %}rportal - Society Member Details{% endblock %}
{% block content %}
<div class="container mt-5 pt-3">
  <div class="row row-cols-auto">
    <a class="col" href='javascript:self.history.back();'>
      <i class="bi bi-arrow-left" style="font-size: x-large;"></i>
    </a>
    <h2 class="col">Active Peoples</h2>
  </div>
  <hr>
  <div class="container">
    <div class="d-flex bd-highlight mb-3">
      <ul class="nav nav-pills" id="pills-tab" role="tablist">
        <li class="nav-item" role="presentation">
          <button class="nav-link active" id="pills-sec-tab" data-bs-toggle="pill" data-bs-target="#pills-sec"
            type="button" role="tab" aria-controls="pills-sec" aria-selected="true">Secretary</button>
        </li>
        <li class="nav-item" role="presentation">
          <button class="nav-link" id="pills-member-tab" data-bs-toggle="pill" data-bs-target="#pills-member"
            type="button" role="tab" aria-controls="pills-member" aria-selected="true">Member</button>
        </li>
        <li class="nav-item" role="presentation">
          <button class="nav-link" id="pills-staff-tab" data-bs-toggle="pill" data-bs-target="#pills-staff"
            type="button" role="tab" aria-controls="pills-staff" aria-selected="false">Staff</button>
        </li>
        <li class="nav-item" role="presentation">
          <button class="nav-link" id="pills-security-tab" data-bs-toggle="pill" data-bs-target="#pills-security"
            type="button" role="tab" aria-controls="pills-security" aria-selected="false">Security</button>
        </li>
      </ul>
    </div>
    <hr>
    <div class="tab-content" id="pills-tabContent">
      <div class="tab-pane fade show active" id="pills-sec" role="tabpanel" aria-labelledby="pills-sec-tab">
        <div class="row row-cols-1 row-cols-md-3 g-4">
          <div class="col">
            <div class="card ">
              <div class="card-body">
                <h5 class="card-title">
                  <!-- <div class="row">
                    <div class="col">
                      <i class="bi bi-person"></i> -->
                  {{account1['Sname']}}
                  <!-- </div>
                  </div> -->
                </h5>
                <div class="row">
                  <div class="col">
                    <i class="bi bi-building"></i>
                    <span class="mx-1">
                      {{ account1['Swing'] }}, {{ account1['Sflatno'] }}
                    </span>
                  </div>
                </div>
                <div class="row">
                  <div class="col">
                    <i class="bi bi-telephone"></i>
                    <span class="mx-1 text-uppercase">
                      {{ account1['Smobile']}}
                    </span>
                  </div>
                </div>
                <div class="row">
                  <div class="col">
                    <i class="bi bi-toggle-on"></i>
                    <span class="mx-1 text-uppercase" style="font-weight: 500;">
                      {{ account1['secretarty_status']}}
                    </span>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="tab-pane fade show " id="pills-member" role="tabpanel" aria-labelledby="pills-member-tab">
        {% if (account|length)==0 %}
        <div class="container">
          <p class="h3 m-5 text-muted text-center">no new request</p>
        </div>
        {% else %}
        <div class="row row-cols-1 row-cols-md-3 g-4">
          {% for data in account %}
          <div class="col">
            <div class="card ">
              <div class="card-body">
                <h5 class="card-title">
                  <!-- <div class="row">
                    <div class="col">
                      <i class="bi bi-person"></i> -->
                  {{data['Mname']}}
                  <!-- </div>
                  </div> -->
                </h5>
                <div class="row">
                  <div class="col">
                    <i class="bi bi-building"></i>
                    <span class="mx-1">
                      {{ data['Mwing'] }}, {{ data['Mflatno'] }}</span>
                  </div>
                </div>
                <div class="row">
                  <div class="col">
                    <i class="bi bi-telephone"></i>
                    <span class="mx-1 text-uppercase">
                      {{ data['Mmobile']}}
                    </span>
                  </div>
                </div>
                <div class="d-flex flex-row">
                  <div class="col">
                    <span style="font-weight: 500;">Status</span>
                  </div>
                  <div class="col">
                    <form action="/rportal/i_members/{{data.Mid}}" method="post">
                      <input type="hidden" name="Mname" value={{ data['Mname'] }}></input>
                      <input type="hidden" name="Memail" value={{ data['Memail'] }}></input>
                      <select class="" onchange='if(this.value !=0 ) { this.form.submit(); }'>
                        <option class="text-uppercase" style="font-weight: 500;" value='0'>{{ data['member_status'] }}
                        </option>
                        <option class="text-uppercase" style="font-weight: 500;" value='1'>inactive</option>
                      </select>
                    </form>
                  </div>
                </div>
              </div>
              <div class="card-footer d-flex flex-row-reverse">
                <form action="/rportal/d_members/{{data.Mid}}" method="post">
                  <button aria-hidden="true" class="btn btn-outline-secondary btn-sm mx-1" type="submit">
                    <i class="bi bi-trash" aria-hidden="true"></i></button>
                  <input type="hidden" name="Mname" value={{ data['Mname'] }}></input>
                  <input type="hidden" name="Memail" value={{ data['Memail'] }}></input>
                </form>
              </div>
            </div>
          </div>
          {% endfor %}
        </div>
        {% endif %}
      </div>
      <div class="tab-pane fade" id="pills-staff" role="tabpanel" aria-labelledby="pills-profile-tab">
        <!-- Button trigger modal -->
        <button type="button" class="btn btn-sm btn-outline-primary float-end mx-1" data-bs-toggle="modal"
          data-bs-target="#staffModal">
          <i class="bi bi-person-plus-fill"></i>
        </button>
        <!-- Modal -->
        <div class="modal fade" id="staffModal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
          aria-labelledby="staffModalLabel" aria-hidden="true">
          <div class="modal-dialog">
            <div class="modal-content">
              <form action="{{ url_for('staff') }}" method="POST" autocomplete="on">
                <div class="modal-header">
                  <h5 class="modal-title" id="staffModalLabel">Staff Registration</h5>
                  <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                  <div class="row mb-2">
                    <div class="col form-floating mb-3">
                      <input type="text" class="form-control" id="staff_name" name="staff_name"
                        placeholder="Staff Name">
                      <label for="SnameId" class="mx-2">Name</label>
                    </div>
                    <div class="col form-floating mb-3">
                      <input type="text" class="form-control" id="staff_username" placeholder="Enter Username"
                        name="staff_username">
                      <label for="staff_username" class="mx-2">Username</label>
                    </div>
                  </div>
                  <div class="row mb-2">
                    <div class="col form-floating mb-3">
                      <input type="tel" maxlength="10" name="staff_mobile" class="form-control " id="staff_mobile"
                        placeholder="Mobile No">
                      <label for="staff_mobile" class="mx-2">Mobile No</label>
                    </div>
                    <div class="col form-floating mb-3">
                      <input type="text" class="form-control" name="post" id="post" placeholder="Post">
                      <label for="post" class="mx-2">Staff Role</label>
                    </div>
                  </div>
                  <div class="col-4 mb-4 form-floating">
                    <input type="password" class="form-control" name="staff_password" id="staff_password"
                      placeholder="Password">
                    <label for="staff_password" class="mx-2">Password</label>
                  </div>
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                  <input type="submit" class="btn btn-primary" value="Register"></input>
                </div>
              </form>
            </div>
          </div>
        </div>
        {% if (account3|length)==0 %}
        <div class="container">
          <p class="h3 m-5 text-muted text-center">no staff</p>
        </div>
        {% else %}
        <div class="container">
          <div class="row row-cols-1 mt-1 row-cols-md-3 g-4">
            {% for data in account3 %}
            <div class="col">
              <div class="card ">
                <div class="card-body">
                  <h5 class="card-title">
                    {{data['staff_name']}}
                  </h5>
                  <div class="row">
                    <div class="col">
                      <i class="bi bi-telephone"></i>
                      <span class="mx-1 text-uppercase">
                        {{ data['staff_mobile']}}
                      </span>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col">
                      <i class="bi bi-rainbow"></i>
                      <span class="mx-1 text-uppercase">
                        {{ data['post']}}
                      </span>
                    </div>
                  </div>
                  <div class="d-flex flex-row">
                    <div class="col">
                      <span style="font-weight: 500;">Status</span>
                    </div>
                    <div class="col">
                      <form action="/rportal/i_staff/{{data.staff_id}}" method="post">
                        <select class="" onchange='if(this.value !=0 ) { this.form.submit(); }'>
                          <option class="text-uppercase" style="font-weight: 500;" value='0'>{{ data['staff_status'] }}
                          </option>
                          <option class="text-uppercase" style="font-weight: 500;" value='1'>inactive</option>
                        </select>
                      </form>
                    </div>
                  </div>
                </div>
                <div class="card-footer d-flex flex-row-reverse">
                  <a href="/rportal/d_staff/{{data.staff_id}}" class="btn btn-outline-secondary btn-sm mx-1"
                    aria-hidden="true" onclick="return confirm('Are You Sure For Delete ?')">
                    <i class="bi bi-trash" aria-hidden="true"></i>
                  </a>
                </div>
              </div>
            </div>
            {% endfor %}
          </div>
        </div>
        {% endif %}
      </div>
      <div class="tab-pane fade" id="pills-security" role="tabpanel" aria-labelledby="pills-security-tab">
        <!-- Button trigger modal -->
        <button type="button" class="btn btn-sm btn-outline-primary float-end mx-1" data-bs-toggle="modal"
          data-bs-target="#securityModal">
          <i class="bi bi-person-plus-fill"></i>
        </button>
        <!-- Modal -->
        <div class="modal fade" id="securityModal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
          aria-labelledby="securityModalLabel" aria-hidden="true">
          <div class="modal-dialog">
            <div class="modal-content">
              <form action="{{ url_for('security') }}" method="POST" autocomplete="on">
                <div class="modal-header">
                  <h5 class="modal-title" id="securityModalLabel">Security Gaurd Registration</h5>
                  <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                  <div class="row mb-2">
                    <div class="col form-floating mb-3">
                      <input type="text" class="form-control" id="security_name" name="security_name"
                        placeholder="Gaurd Name">
                      <label for="security_name" class="mx-2">Name</label>
                    </div>
                    <div class="col form-floating mb-3">
                      <input type="text" class="form-control" id="security_username" placeholder="Enter Username"
                        name="security_username">
                      <label for="security_username" class="mx-2">Username</label>
                    </div>
                  </div>
                  <div class="row mb-2">
                    <div class="col form-floating mb-3">
                      <input type="tel" maxlength="10" name="security_mobile" class="form-control " id="security_mobile"
                        placeholder="Mobile No">
                      <label for="security_mobile" class="mx-2">Mobile No</label>
                    </div>
                    <div class="col form-floating mb-3">
                      <input type="password" class="form-control" name="security_password" id="security_password"
                        placeholder="Password">
                      <label for="security_password" class="mx-2">Password</label>
                    </div>
                  </div>

                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                  <input type="submit" class="btn btn-primary" value="Register"></input>
                </div>
              </form>
            </div>
          </div>
        </div>
        {% if (account2|length)==0 %}
        <div class="container">
          <p class="h3 m-5 text-muted text-center">no Security Gaurds</p>
        </div>
        {% else %}
        <div class="container">
          <div class="row row-cols-1 mt-1 row-cols-md-3 g-4">
            {% for data in account2 %}
            <div class="col">
              <div class="card ">
                <div class="card-body">
                  <h5 class="card-title">
                    {{data['security_name']}}
                  </h5>
                  <div class="row">
                    <div class="col">
                      <i class="bi bi-telephone"></i>
                      <span class="mx-1 text-uppercase">
                        {{ data['security_mobile']}}
                      </span>
                    </div>
                  </div>
                  <div class="d-flex flex-row">
                    <div class="col">
                      <span style="font-weight: 500;">Status</span>
                    </div>
                    <div class="col">
                      <form action="/rportal/i_security/{{data.security_id}}" method="post">
                        <select class="" onchange='if(this.value !=0 ) { this.form.submit(); }'>
                          <option class="text-uppercase" style="font-weight: 500;" value='0'>{{ data['security_status']
                            }}
                          </option>
                          <option class="text-uppercase" style="font-weight: 500;" value='1'>inactive</option>
                        </select>
                      </form>
                    </div>
                  </div>
                </div>
                <div class="card-footer d-flex flex-row-reverse">
                  <a href="/rportal/d_security/{{data.security_id}}" class="btn btn-outline-secondary btn-sm mx-1"
                    aria-hidden="true" onclick="return confirm('Are You Sure For Delete ?')">
                    <i class="bi bi-trash" aria-hidden="true"></i>
                  </a>
                </div>
              </div>
            </div>
            {% endfor %}
          </div>
        </div>
        {% endif %}
      </div>
    </div>
  </div>
</div>
{% endblock %}