{% extends 'secretary/slayout.html' %}

{% block content %}
<div class="container mt-5 pt-3">
    <div class="d-flex">
        <a class="" href='javascript:self.history.back();'>
            <i class="bi bi-arrow-left" style="font-size: x-large;"></i>
        </a>
        <h2 class="mx-3">Maintenance</h2>
        {% if (account[0]|length)!=0 %}
            <!-- Button trigger modal -->
            <button type="button" class="btn btn-primary ms-auto" data-bs-toggle="modal" data-bs-target="#staticBackdrop">
                Update Maintainance
            </button>
        {% endif %}
        <!-- Modal -->
        <div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
            aria-labelledby="staticBackdropLabel" aria-hidden="true">
            <div class="modal-dialog">
                <form action="/rportal/maintenance_add" method="post">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="staticBackdropLabel"> Update Maintainance</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <div class="mb-3">
                            <label for="exampleFormControlInput1" class="form-label">Enter society bank account
                                balance</label>
                            <input type="number" class="form-control col-2" id="exampleFormControlInput1" step="0.01"
                                name="balance" placeholder="Account Balance" required>
                        </div>
                        <div class="mb-3">
                            <label for="exampleFormControlInput1" class="form-label">Enter society yearly maintenance
                                amount</label>
                            <input type="number" class="form-control col-2" id="exampleFormControlInput1" step="0.01"
                                name="amount" placeholder="Amount" required>
                        </div>
                        <p style="font-size: xx-small;">Note: Updating maintenance will add maintenance as new
                            maintenance.It is reccomended to
                            update maintenance only after a year.
                        </p>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                        <button type="submit" class="btn btn-primary">Update</button>
                    </div>
                </div>
                </form>
            </div>
        </div>
    </div>
    {% if (account[0]|length)==0 %}
    <div>
        <hr>
        <h5>Rules</h5>
        <h6>{{ msg }}</h6>
        <div>
            <p class="text-wrap" style="font-size: x-small;">Note: You can accept the Maintenance <b>yearly</b> only.So
                please enter
                the maintainance calculated
                for the rest of year.</p>
            <form action="/rportal/maintenance_add" method="post">
                <div class="mb-3 col-4">
                    <label for="exampleFormControlInput1" class="form-label ">Society bank account balance</label>
                    <input type="number" step="0.01" name="balance" class="form-control" id="exampleFormControlInput1"
                        placeholder="Balance" required>
                </div>
                <div class="mb-3 col-4">
                    <label for="exampleFormControlInput1" class="form-label">Society yearly maintenance amount</label>
                    <input type="number" name="amount" class="form-control col-2" id="exampleFormControlInput1"
                        placeholder="Amount" required>
                </div>
                <button type="submit" class="btn btn-primary">Submit</button>
            </form>
        </div>
    </div>
    {% else %}
    <div>
        <hr>
        <h5>Maintenance Rules:</h5>
        <h6>{{ msg }}</h6>
        Society account balence: {{ account3['soc_bal'] }}
        <br>
        {% for data in account %}
        <p>
            Yearly maintenance amount: {{ data['amount'] }}
            <br>
            Last date to pay maintenance: {{ data['due_date'] }}
            <br>
        </p>
        {% endfor %}

        <ul class="nav nav-tabs justify-content-lg-evenly mt-3" id="myTab" role="tablist">
            <li class="nav-item" role="presentation">
                <button class="nav-link active" id="profile-tab" data-bs-toggle="tab" data-bs-target="#profile" type="button"
                    role="tab" aria-controls="profile" aria-selected="true"> <i class="bi bi-check2-all"></i>
                    Payment pending</button>
            </li>
            <li class="nav-item" role="presentation">
                <button class="nav-link" id="home-tab" data-bs-toggle="tab" data-bs-target="#home" type="button"
                    role="tab" aria-controls="home" aria-selected="false"><i class="bi bi-exclamation-diamond"></i>
                    Paid History</button>
            </li>
        </ul>
        <div class="tab-content" id="myTabContent">
            <div class="tab-pane fade" id="home" role="tabpanel" aria-labelledby="home-tab">
                <div class="accordion accordion-flush my-3" id="accordionFlush{{data1}}">
                    {% if (account1[0]|length)==0 %}
                    <div class="container">
                        <p class="h3 m-5 text-muted text-center">No one paid maintenance yet
                        <p>
                    </div>
                    {% else %}
                    {% for data1 in range(account1|length) %}
                    <div class="accordion-item">
                        <h2 class="accordion-header" id="flush-heading{{data1}}">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                data-bs-target="#flush-collapse{{data1}}" aria-expanded="false"
                                aria-controls="flush-collapse{{data1}}">
                                <strong>{{account1[data1]['Mname']}}</strong>
                                <span class="badge rounded-pill bg-success mx-2" style="font-size: x-small;">paid</span>
                            </button>
                        </h2>
                        <div id="flush-collapse{{data1}}" class="accordion-collapse collapse"
                            aria-labelledby="flush-heading{{data1}}" data-bs-parent="#accordionFlush{{data1}}">
                            <div class="accordion-body ">
                                <label style="font-weight:600;">Name:</label>
                                <span class="mx-1">{{ account1[data1]['Mname']}}</span><br>
                                <label style="font-weight:600;">Added on:</label>
                                <span class="mx-1">{{ account1[data1]['bill_date']}}</span><br>
                                <label style="font-weight:600;">Amount:</label>
                                <span class="mx-1">{{ account1[data1]['amount']}}</span><br>
                                <label style="font-weight:600;">Paid on:</label>
                                <span class="mx-1">{{ account1[data1]['paid_date']}}</span><br>
                                <label style="font-weight:600;">Due Date:</label>
                                <span class="mx-1  text-break">{{ account1[data1]['due_date']}}</span><br>
                            </div>
                        </div>
                    </div>
                    {% endfor %}
                    {% endif %}
                </div>
            </div>

            <div class="tab-pane fade show active" id="profile" role="tabpanel" aria-labelledby="profile-tab">
                <div class="accordion accordion-flush my-3" id="accordionFlush{{data2}}">
                    {% if (account2[0]|length)==0 %}
                    <div class="container">
                        <p class="h3 m-5 text-muted text-center">No data found</p>
                    </div>
                    {% else %}
                    {% for data2 in range(account2|length) %}
                    <div class="accordion-item">
                        <h2 class="accordion-header" id="flush-heading{{data2}}">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                data-bs-target="#flush-collapse{{data2}}" aria-expanded="false"
                                aria-controls="flush-collapse{{data2}}">
                                <strong>{{account2[data2]['Mname']}}</strong>
                                <span class="badge rounded-pill bg-warning mx-2"
                                    style="font-size: x-small;">unpaid</span>
                            </button>
                        </h2>
                        <div id="flush-collapse{{data2}}" class="accordion-collapse collapse"
                            aria-labelledby="flush-heading{{data2}}" data-bs-parent="#accordionFlush{{data2}}">
                            <div class="accordion-body ">
                                <label style="font-weight:600;">Name:</label>
                                <span class="mx-1">{{ account2[data2]['Mname']}}</span><br>
                                <label style="font-weight:600;">Added on:</label>
                                <span class="mx-1">{{ account2[data2]['bill_date']}}</span><br>
                                <label style="font-weight:600;">Amount:</label>
                                <span class="mx-1">{{ account2[data2]['amount']}}</span><br>
                                <label style="font-weight:600;">Due Date:</label>
                                <span class="mx-1  text-break">{{ account2[data2]['due_date']}}</span><br>
                            </div>
                        </div>
                    </div>
                    {% endfor %}
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
    {% endif %}
</div>


{% endblock %}