{% extends 'secretary/slayout.html' %}

{% block title %}rportal - Secretary Profile{% endblock %}

{% block content %}
<h2>Secretary Profile Page</h2>
<div>
    <h3>Your account details are below:</h3>
    <h4>Personal Details:</h4>
    <table>
        <tr>
            <td>Name:</td>
            <td>{{ account['Sname'] }}</td>
        </tr>
        <tr>    
            <td>Username:</td>
            <td>{{ account['username'] }}</td>
        </tr>
        <tr>
            <td>Flat Number:</td>
            <td>{{ account['Swing'] }} {{ account['Sflatno'] }}</td>
        </tr>
        <tr>
            <td>Email:</td>
            <td>{{ account['Semail'] }}</td>
        </tr>
        <tr>
            <td>Mobile Number:</td>
            <td>{{ account['Smobile'] }}</td>
        </tr>
      
       
       
    </table>
    <h3>Your Society details are below:</h3>
    <h4>Society Location:</h4>
    <table>
        <tr>
        <td>Address :
        <td>{{ account['name'] }} ,{{ account['road'] }},<br>
             {{ account['area'] }}, {{ account['city'] }},<br>
             {{ account['state'] }}, {{ account['pin'] }}.</td>
             </td>
        </tr>
        <tr>
            <td>Society Code:</td>
            <td>{{ account['Scode'] }}
               
            </td>
        
           
        </tr>

    </table>
    <h4>Society Account Details:</h4>
    <table>
        <tr>
            
            <td>Account Name:</td>
            <td>{{ account['acname'] }}</td>
        </tr>
        <tr>
            <td>Account Number:</td>
            <td>{{ account['acno'] }}</td>
        </tr>
        <tr>
            <td>MMID:</td>
            <td>{{ account['mmid'] }}</td>
        </tr>
        <tr>
            <td>Bank Name:</td>
            <td>{{ account['bankname'] }}</td>
        </tr>
        <tr>
            <td>Branch:</td>
            <td>{{ account['branch'] }}</td>
        </tr>
        <tr>
            <td>IFSC Code:</td>
            <td>{{ account['ifsc'] }}</td>
        </tr>
    </table>
    <h4>Rules Section:</h4>
    <table>
        <tr>
            <td>Society Rules:</td>
            <td>{{ account['socrule'] }}</td>
        </tr>
        <tr>
            <td>Maintainance Rules:</td>
            <td>{{ account['mainrule'] }}</td>
        </tr>
    </table>
    <br>    
    <br>
    
    <button class="btn btn-primary" onclick="openModal()" >Update Profile</button>  <br><br>
 
    <dialog id="dialog">
    <button alignment="right" onclick="closeModal()"  class="btn-close" aria-label="Close" ></button>
     <form action="/R-Portal/supdate" method="POST">
         <br><br>
         <p>To chnage your password, Go to forgot password page from login page.</p><br>
        <input type="text" name="name" value="{{ account['Sname'] }}"><br><br>
        <input type="text" name="flatno" value="{{ account['Sflatno'] }}"><br><br>
        <input type="text" name="wing" value="{{ account['Swing'] }}"><br><br>
        <input type="mail" name="email" value="{{ account['Semail'] }}"><br><br>
        <input type="text" name="mobile" value="{{ account['Smobile'] }}"><br><br>
        <button class="btn btn-primary" type="submit">Update</button><br>
        <br>
     </form>
    
    </dialog>
    
    <button class="btn btn-primary" onclick="openModal1()" >Change Secretary</button>  <br><br>
 
    <dialog id="dialog1">
       <button alignment="right" onclick="closeModal1()"  class="btn-close" aria-label="Close" ></button>
        <form action="/R-Portal/schange" method="POST">
            <br><br>
            <label>Select new Scretary:</label>
            <select name="username" >
                {% for data in account2 %}
               <option >{{ data['username'] }}</option>
               {% endfor %} 
              </select><br><br>
              
              <h4>{{ account2['username'] }} </h4>
                <input type="text" name="name" value="{{ account['Sname'] }}"><br><br>
                <input type="text" name="flatno" value="{{ account['Sflatno'] }}"><br><br>
                <input type="text" name="wing" value="{{ account['Swing'] }}"><br><br>
                <input type="mail" name="email" value="{{ account['Semail'] }}"><br><br>
                <input type="text" name="mobile" value="{{ account['Smobile'] }}"><br><br>
                <p>To chnage your password, Go to forgot password page from login page.</p><br>
           <button class="btn btn-primary" type="submit">Update</button><br>
           <br>
        </form>
       
       </dialog>
   

<style>
    #dialog{width:300px;}
    #dialog1{width:300px;}
.right{float:right}
</style>

<script>
    var dailog = document.getElementById("dialog"); 
    var dailog1 = document.getElementById("dialog1"); 

function openModal() { 
   // dailog.show(); 
      dailog.showModal();
} 

function closeModal() { 
    dailog.close(); 
} 

function openModal1() { 
   // dailog.show(); 
      dailog1.showModal();
} 

function closeModal1() { 
    dailog1.close(); 
} 
</script>
    <a href='javascript:self.history.back();'>Go Back</a>
</div>
<script src="https://cdnjs.cloudflare.com/ajax/libs/qrious/4.0.2/qrious.min.js"></script>
<script>
    var qr;
    (function() {
            qr = new QRious({
            element: document.getElementById('qr-code'),
            size: 150,
            value: "http://127.0.0.1:5000/rportal/mcode1/{{account['Scode']}}"
            
        });
        downloadQR(); 

    })();
    
    function downloadQR() {
        var link = document.createElement('a');
        link.download = 'Rportal.png';
        link.href = document.getElementById('qr').toDataURL()
        
        link.click();
    } 
  
</script>


{% endblock %}