<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>R-Portal - Secretary Registeration</title>
	<link rel="stylesheet" href="{{ url_for('static', filename='sregister.css') }}">
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
		integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
	<script src="https://kit.fontawesome.com/00eb1e6813.js" crossorigin="anonymous"></script>
	
</head>


<body>
	<!-- Header -->
	<nav class="navbar navbar-expand-lg navbar-light py-lg-3 p-2 fixed-top">
		<div class="container">
			<a href="{{url_for('mainhome')}}" class="navbar-brand" id="title"><span
					style="color: blue;">R</span>-Portal</a>
		</div>
	</nav>
	<!-- partial:index.partial.html -->
	<div class="container">
		<div class="row d-sm-flex justify-content-center">
			<div id="svg_wrap"></div>

			{% if msg=='' %}
			<div></div>

			{% else %}
			<div class="d-flex justify-content-center">
				<div class="alert alert-primary" role="alert">
					{{ msg }}
				</div>
			</div>
			{% endif %}
			<form id="form" action="{{url_for('sregister')}}" enctype="multipart/form-data" method="POST"
				autocomplete="on" class=" mb-5">


				<section class=" bg-light text-dark p-lg-5 text-start">
					<h2 class=" title pb-5 text-center">Secretary Registetion</h2>
					<label for="Sname" class="form-label font-weight-bold">Full Name</label>
					<input type="text" name="Sname" value = "{{ name }}"  class="form-control" readonly>
					<span id="Spname" style="color: crimson"></span><br>

					<label for="Susername" class="form-label font-weight-bold">Username</label>
					<input type="text" name="Susername" value ={{ username }} id="Susername" class="form-control " readonly>
					<span id="Spusername" style="color: crimson"></span><br>

					<label for="Semail" class="form-label font-weight-bold">Email</label>
					<input type="email" name="Semail" value ={{ email }} id="Semail" class="form-control  " readonly>
					<span id="Spemail" style="color: crimson"></span><br>

					<label for="Sflatno" class="form-label font-weight-bold">FlatNo</label>
					<input type="text" name="Sflatno" placeholder="Enter Flat Number" id="Sflatno"
						class="form-control  " required>
					<span style="font-size:x-small">Only numbers are allowed</span>
					<span id="Spflatno" style="color: crimson"></span><br>

					<label for="Swing" class="form-label font-weight-bold">Wing No</label>
					<input type="text" name="Swing" placeholder="Enter Wing Name" id="Swing" class="form-control  "
						required>
					<span id="Spwing" style="color: crimson"></span><br>

					<label for="Smobile" class="form-label font-weight-bold">Mobile No</label>
					<input type="tel" name="Smobile" value ={{ mobile }} id="Smobile"
						class="form-control  " readonly>
					<span style="font-size:x-small">PLZ Enter your Mobileno without +91 </span>
					<span id="Spmobile" style="color: crimson"></span><br>

					

				</section>
				<section class=" bg-light text-dark p-lg-5 text-start">
					<h2 class=" title pb-5 text-center">Society Location</h2>
					<label for="name" class="form-label font-weight-bold">Society Name</label>
					<input type="text" name="name" placeholder="Enter Society Name" id="name" class="form-control  "
						required>
					<span id="Sspname" style="color: crimson"></span><br>

					<label for="area" class="form-label font-weight-bold">Area</label>
					<input type="text" name="area" placeholder="Enter your Area or Street name " id="area"
						class="form-control  " required>
					<span id="Sparea" style="color: crimson"></span><br>

					<label for="road" class="form-label font-weight-bold">Landmark</label>
					<input type="text" name="road" placeholder="Landmark" id="road" class="form-control  " required>
					<span id="Sproad" style="color: crimson"></span><br>

					<label for="city" class="form-label font-weight-bold">City</label>
					<input type="text" name="city" placeholder="City" id="city" class="form-control  " required>
					<span id="Spcity" style="color: crimson"></span><br>

					<label for="state" class="form-label font-weight-bold">State</label>
					<input type="text" name="state" placeholder="State" id="state" class="form-control  " required>
					<span id="Spstate" style="color: crimson"></span><br>

					<label for="pin" class="form-label font-weight-bold">Pin Code</label>
					<input type="text" name="pin" placeholder="PIN" id="pin" class="form-control  " required>
					<span id="Sppin" style="color: crimson"></span><br>

				</section>
				<section class=" bg-light text-dark p-lg-5 text-start">
					<h2 class=" title pb-5 text-center">Society Account Details</h2>
					<label for="acname" class="form-label font-weight-bold">Bank Account Holder Name</label>
					<input type="text" name="acname" placeholder="Account Holder Name" id="acname"
						class="form-control  " required>
					<span id="Spacname" style="color: crimson"></span><br>

					<label for="acno" class="form-label font-weight-bold"> Bank Account No</label>
					<input type="text" name="acno" placeholder="Bank Account Number" id="acno" class="form-control  "
						required>
					<span id="Spacno" style="color: crimson"></span><br>

					<label for="mmid" class="form-label font-weight-bold">MICR code</label>
					<input type="text" name="mmid" placeholder="MMID" id="mmid" class="form-control  " required>
					<span id="Spmmid" style="color: crimson"></span><br>

					<label for="bankname" class="form-label font-weight-bold">Bank Name</label>
					<input type="text" name="bankname" placeholder="Name of Bank" id="bankname" class="form-control  "
						required>
					<span id="Spbankname" style="color: crimson"></span><br>

					<label for="branch" class="form-label font-weight-bold">Branch Name</label>
					<input type="text" name="branch" placeholder="Branch" id="branch" class="form-control  " required>
					<span id="Spbranch" style="color: crimson"></span><br>

					<label for="ifsc" class="form-label font-weight-bold">IFSC Code</label>
					<input type="text" name="ifsc" placeholder="IFSC Code" id="ifsc" class="form-control  " required>
					<span id="Spifsc" style="color: crimson"></span><br>

					<label for="file" class="form-label font-weight-bold">KYC Document</label>
					<input type="file" name="file" class="form-control  " aria-label="file" id="file" required>
					<span style="font-size:x-small">upload valid society billing recipet eg:water/electric bill in
						PDF,JPF
						format only </span>

					<span id="Spfile" style="color: crimson"></span><br>
				</section>
				<div class="d-flex justify-content-center">
					<div class="button " id="prev">&larr; Previous</div>
					<div class="button " id="next">Next &rarr;</div>
					<button class="button " type="submit" id="submit" value="Register">Submit</button>
				</div>
			</form>
		</div>
	</div>
	<!-- Footer -->
	<footer class="pb-2 text-dark text-center position-relative ">
		<div class="container justify-content-center">
			<p class="lead">Copyright &copy; 2021 R-Portal
			</p>
			<!-- <a href="#" class="position-absolute bottom-0 end-0 p-2">
				<i class="bi bi-arrow-up-circle h1"></i>
			</a> -->
		</div>
	</footer>
	<!-- partial -->
	<script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js'></script>
	<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
		integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"
		crossorigin="anonymous"></script>
	<script src="{{ url_for('static', filename='sregister.js') }}"></script>
	


</body>

</html>