<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title>R-Portal - Secretary Registeration</title>

	<!--meta tags-->
	<meta name="viewport" content="width=device-width,initial-scale=1,shrink-to-fit=no">

	<!--Linking CSS Files -->
	<link rel="stylesheet" href="/static/sregister.css">
	<link rel="stylesheet" type="text/css" href="/static/css/bootstrap.min.css">
	


	
	<script type="text/javascript" src="/static/js/bootstrap.min.js"></script>

	<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
	
	<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.4.1/jquery.easing.min.js"></script>
</head>
<body>

	<div class="row">
		<div class="col-md-12 col-md-offset-3">
			<form id="form" action="{{ url_for('sregister') }}"  enctype = "multipart/form-data" method="POST" autocomplete="on">

				<ul id="progressbar">
					<li class="active">Secretary Registetion</li>
					<li>Society Location</li>
					<li>Society Account Details</li>
				</ul>

				<fieldset>
					<h2 class="title">Secretary Registetion</h2>
					<input type="text" name="Sname" placeholder="Enter Name" id="Sname" required>
                    <input type="text" name="Susername" placeholder="Username" id="Susername" required>
                    <input type="email" name="Semail" placeholder="Email ID" id="Semail" required>
                    <input type="text" name="Sflatno" placeholder="Flat Number" id="Sflatno" required>
                    <input type="text" name="Swing" placeholder="Wing Name" id="Swing" required>
                    <input type="text" name="Smobile" placeholder="Mobile Number" id="Smobile" required>
                    <input type="password" name="Spassword" placeholder="Password" id="Spassword" required>

					<input type="button" name="next" class="next action-button" value="next">
				</fieldset>
				<fieldset>
					<h2 class="title">Society Location</h2>
					<input type="text" name="name" placeholder="Enter Society Name" id="name" required>
                    <input type="text" name="area" placeholder="Area" id="area" required>
                    <input type="text" name="road" placeholder="Road/Street" id="road" required>
                    <input type="text" name="city" placeholder="City" id="city" required>
                    <input type="text" name="state" placeholder="State" id="state" required>
                    <input type="text" name="pin" placeholder="PIN" id="pin" required>

					<input type="button" name="previous" class="previous action-button-previous" value="Previous">


					<input type="button" name="next" class="next action-button" value="next">
				</fieldset>
				<fieldset>
					<h2 class="title">Society Account Details</h2>
					<input type="text" name="acname" placeholder="Account Name" id="acname" required>
                    <input type="text" name="acno" placeholder="Account Number" id="acno" required>
                    <input type="text" name="mmid" placeholder="MMID" id="mmid">
                    <input type="text" name="bankname" placeholder="Name of Bank" id="bankname" required>
                    <input type="text" name="branch" placeholder="Branch" id="branch" required>
                    <input type="text" name="ifsc" placeholder="IFSC Code" id="ifsc" required />
                    <input placeholder="KYC" type = "file" name = "file"  required/>

					<input type="button" name="previous" class="previous action-button-previous" value="Previous">


					<input type="submit" name="submit" class="submit action-button" value="submit">
				</fieldset>
				
			</form>
			<div class="links">
				<h4>
				<label>Already have an account? : </label>
				<a href="{{ url_for('login') }}">Login</a>
				</h4>
			</div>
		</div>
		
		
	</div>

	

	<!-- Linking JS Files -->
	<script type="text/javascript" src="/static/js/sregister.js"></script>

</body>
</html>
