@import url("https://fonts.googleapis.com/css2?family=Spartan:wght@300;600&display=swap");

:root {
    --dark: #16191c;
    --dark-x: #1e2126;
    --dark-blue: #3f3d56 --grey: #c4c4c4;
    --lightGrey: #cec7c7;
    --light: #ffffff;
    --blue: #5fa9f8;
}

.shadow {
    box-shadow: 0 3px 6px rgba(3, 0, 71, .1) !important
}

.bg-dark {
    background-color: var(--dark);
}

.bg-dark-x {
    background-color: var(--dark-x);
}

.bg-dark-blue {
    background-color: var(--dark-blue);
}

.bg.light {
    background-color: var(--light);
}

.bg-grey {
    background-color: var(--grey);
}

.bg-lightGrey {
    background-color: var(--lightGrey);
}

.bg-blue {
    background-color: var(--blue);
}

.form-control {
    min-height: 3.125rem;
    line-height: initial;
    appearance: none;
    background-clip: padding-box;
    background-color: #fff;
    border: 1 px solid #e8e7ed;
    border-radius: 0.25 rem;
    color: #18113c;
    display: block;
    font-size: .875rem;
    font-weight: 400;
    line-height: 1.6;
    padding: 0.75 rem 1.25 rem;
    transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out;
    width: 100%;
}

span#ShowcaseTitle2 {
    font-family: 'Spartan', sans-serif;
    font-weight: 200;
    font-size: 50px;
    color: #FF6584;
}

a#title {
    font-family: 'Spartan', sans-serif;
    font-weight: 300;
}