{% extends 'admin.html' %}

{% block title %}R-Portal x Ajinfotics!{% endblock %}

{% block content %}	
<style>
    table, th, td {
      border:1px solid black;
    }
</style>
	
<h2>All Society under R-Portal</h2>
<div>
    <table style="width:100%">
        <tr>
            <th>Sr no</th>
            <th>Name</th>
            <th>Road</th>
            <th>Area</th>
            <th>City</th>
            <th>State</th>
            <th>Pin code</th>
            <th>Society Code</th>
            <th>Account Name</th>
            <th>Account Number</th>
            <th>MMID</th>
            <th>Bank Name</th>
            <th>Branch</th>
            <th>IFSC Code</th>
        </tr> 
        {% if account != null %}
            <tr>
                <td>{{ account['id'] }}</td>
                <td>{{ account['name'] }}</td>
                <td>{{ account['road'] }}</td>
                <td>{{ account['area'] }}</td>
                <td>{{ account['city'] }}</td>
                <td>{{ account['state'] }}</td>
                <td>{{ account['pin'] }}</td>
                <td>{{ account['code'] }}</td>
                <td>{{ account['acname'] }}</td>
                <td>{{ account['acno'] }}</td>
                <td>{{ account['mmid'] }}</td>
                <td>{{ account['bankname'] }}</td>
                <td>{{ account['branch'] }}</td>
                <td>{{ account['ifsc'] }}</td>
            </tr>
            <tr>
                <td>{{ account['id'] }}</td>
                <td>{{ account['name'] }}</td>
                <td>{{ account['road'] }}</td>
                <td>{{ account['area'] }}</td>
                <td>{{ account['city'] }}</td>
                <td>{{ account['state'] }}</td>
                <td>{{ account['pin'] }}</td>
                <td>{{ account['code'] }}</td>
                <td>{{ account['acname'] }}</td>
                <td>{{ account['acno'] }}</td>
                <td>{{ account['mmid'] }}</td>
                <td>{{ account['bankname'] }}</td>
                <td>{{ account['branch'] }}</td>
                <td>{{ account['ifsc'] }}</td>
            </tr>
        {% endif %}
    </table>
    <br>    
    <a href='javascript:self.history.back();'>Go Back</a>
</div>
{% endblock %}