<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title>R-Portal - Dashboard</title>
		<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
		<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.1/css/all.css">
	</head>
	<body>
        <h1>Welcome to R-Portal!</h1>
		<div class="links">
            <br>
            <label>Already have an account? : </label>
			<a href="{{ url_for('login') }}">Login</a>
            <br><br>
            <label>New Here? : Register NOW!</label><br><br>
			<label>Click here for: </label>
            <a href="{{ url_for('mcode') }}">Member</a><br>
			<label>Click here for: </label>
			<a href="{{ url_for('sregister') }}">Secretary</a>
        </div>
	</body>
</html>