<!doctype html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}"> 
	
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.1/css/all.css">
    	
		<link rel="stylesheet" href="static/css/bootstrap.min.css">
		<script src="static/js/bootstrap.min.js"></script>

    <title>mainhome</title>
</head>
<body>
  <header  style="float: right;">
    <div class="dropdown">
        <button onclick="myFunction()" class="dropbtn"><i  class="fa fa-plus" aria-hidden="true"></i></button>
        <div id="myDropdown" class="dropdown-content">
            <a  class="dropdown-item" type="button" href="{{ url_for('sregister') }}">Secretary</a>
            <a  class="dropdown-item" type="button" href="{{ url_for('mcode') }}">Member</a>
        </div>
      </div>
       &nbsp; &nbsp; &nbsp; &nbsp;
    <a href="{{ url_for('logout') }}"><i class="fas fa-sign-out-alt"></i> Logout</a>
  </header>

    <h2> Welcome to rportal!</h2>
   
    <h3><div class="msg">{{ msg }}</div></h3>
  
    <div>
  
{% for data1  in account1 %}
    <div  style=" background-color: #0ddaad; border-radius: 20px;  padding: 15px;
    width: 200px;
    height: 150px;" >
    <br> 
    Secretary account
    <p>
    {{data1['name']}}, {{ data1['city'] }} <br>   {{data1['Scode']}} <br> {{data1['Swing']}}` {{data1['Sflatno']}}  <label>Status: Active</label></p>
    <form action="{{ url_for('shome') }}" method="post">
    <input type="hidden"  name="Sname" value="{{data1['Sname']}}">
    <input type="hidden" name="Scode" value ="{{data1['Scode']}}">
    <input type="hidden" name="Semail" value="{{data1['Semail']}} ">
    <input  type="hidden" name="username" value="{{data1['username']}}">
    <input  type="hidden" name="Sid" value="{{data1['Sid']}}">
    <button type="submit" class="btn btn-primary">Launch</button>
</form>


    </div><br>
{% endfor %} 
</div>

<div>
    {% for data2  in account2 %}
    <div  style="	background-color: #38cdfa; border-radius: 20px;  padding: 15px;
    width: 200px;
    height: 150px;" >
<br>
 Member account
    <p>
    {{data2['name']}}, {{ data2['city'] }}  <br>
    
    {{data2['Mcode']}} <br>  {{data2['Mwing']}}` {{data2['Mflatno']}}  <label>Status: Active</label> 
    

</p>    

    <form action="{{url_for('mhome')}}" method="post">
        <input type="hidden"  name="Mname" value="{{data2['Mname']}}">
        <input type="hidden" name="Mcode" value ="{{data2['Mcode']}}">
        <input type="hidden" name="Memail" value="{{data2['Memail']}}">
        <input  type="hidden" name="username" value="{{data2['username']}}">
        <input  type="hidden" name="Mid" value="{{data2['Mid']}}">
        <button type="submit" class="btn btn-primary">Launch</button>
    </form>
    
   </div><br>
        {% endfor %} 
        
        {% for data3  in account3 %}
        <div  style=" background-color: #7781d4; border-radius: 20px;  padding: 15px;
        width: 200px;
        height: 150px;" >
        <br> 
        Secretary account
        <p>
        {{data3['name']}}, {{ data3['city'] }} <br>   {{data3['Scode']}} <br>  {{data3['Swing']}}` {{data3['Sflatno']}} <br> <label>Status: Inactive</label>  <br></p>
        
    </form>
    
    
        </div>
    {% endfor %} 
    </div>
    <div>
        {% for data4  in account4 %}
        <div  style="	background-color: #385ffa; border-radius: 20px;  padding: 15px;
        width: 200px;
        height: 150px;" >
    <br>
     Member account
        <p>
        {{data4['name']}}, {{ data4['city'] }}  <br>
        
        {{data4['Mcode']}}
        <br>  {{data4['Mwing']}}` {{data4['Mflatno']}} <br> <label>Status: Inactive</label>  <br>
    
    </p>    
        
       </div><br>
            {% endfor %} 
            <br>
           
            {% for data3  in account5 %}
            <div  style=" background-color: #063a52; border-radius: 20px;  padding: 15px;
            width: 200px;
            height: 150px;" >
            <br> 
            Secretary account
            <p>
            {{data3['name']}}, {{ data3['city'] }} <br>   {{data3['Scode']}} <br>  {{data3['Swing']}}` {{data3['Sflatno']}} <br> <label>Status: Requested</label>  <br></p>
            
        </form>
        
        
            </div>
        {% endfor %} 
        </div>
        <br>
        <div>
            {% for data4  in account6 %}
            <div  style="	background-color: #38cdfa; border-radius: 20px;  padding: 15px;
            width: 200px;
            height: 150px;" >
        <br>
         Member account
            <p>
            {{data4['name']}}, {{ data4['city'] }}  <br>
            
            {{data4['Mcode']}}
            <br> {{data4['Mwing']}}` {{data4['Mflatno']}} <br> <label>Status: Requested</label>  <br>
        </p>    
            
           </div><br>
                {% endfor %} 
</div>
<br>
<script>
    /* When the user clicks on the button, 
    toggle between hiding and showing the dropdown content */
    function myFunction() {
      document.getElementById("myDropdown").classList.toggle("show");
    }
    
    // Close the dropdown if the user clicks outside of it
    window.onclick = function(event) {
      if (!event.target.matches('.dropbtn')) {
        var dropdowns = document.getElementsByClassName("dropdown-content");
        var i;
        for (i = 0; i < dropdowns.length; i++) {
          var openDropdown = dropdowns[i];
          if (openDropdown.classList.contains('show')) {
            openDropdown.classList.remove('show');
          }
        }
      }
    }
    </script>
<style>
    .dropbtn {
      background-color:  #b6b7b8;
      color: white;
      padding: 10px;
      font-size: 10px;
      border: none;
      cursor: pointer;
    }
    
    .dropbtn:hover, .dropbtn:focus {
      background-color: #b6b7b8;
    }
    
    .dropdown {
      position: relative;
      display: inline-block;
    }
    
    .dropdown-content {
      display: none;
      position: absolute;
      background-color: #f1f1f1;
      min-width: 100px;
      overflow: auto;
      box-shadow: 0px 8px 10px 0px rgba(0,0,0,0.2);
      z-index: 1;
    }
    
    .dropdown-content a {
      color: black;
      padding: 6px 10px;
      text-decoration: none;
      display: block;
    }
    
    .dropdown a:hover {background-color: #ddd;}
    
    .show {display: block;}
    </style>
</body>
</html>