<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title>R-Portal - Member OTP Verification</title>
		<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
		<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.1/css/all.css">
	</head>
<body>
    <h1>R-Portal</h1>
	<h3>OTP Verification</h3>
   	<div class="motp">
		<form action = "/motpvalidate" method="post">   
            <h4> OTP has been sent to the email id. Please check the registered email for the confirmation.</h4> 

 			Enter OTP(One-time password): 
            <input type="text" name="otp"> 

 			<input type="submit" value="Verify">  
		</form>
	</div>
</body>
</html>