<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title>R-Portal - Member Registeration</title>
		<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
		<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.1/css/all.css">
	</head>
	
<body>

	<h1>Member Registeration</h1>

	<div class="links">
		<h3>
		<label>Already have an account? : </label>
		<a href="{{ url_for('login') }}">Login</a>
		</h3>
	</div>

    <form action="{{ url_for('mcode') }}" method="post" autocomplete="on">

	<h3>Society Details</h3>
	<div>
		<p>Please Verify Society details:</p>
		<table>
			<tr>
				<td>Name:</td>
				<td>{{ account['name'] }}</td>
			</tr>
			<tr>    
				<td>Address:</td>
				<td>{{ account['road'] }}</td>
				<td>{{ account['area'] }}</td>
				<td>{{ account['city'] }}</td>
			</tr>
			<tr>
				<td>State:</td>
				<td>{{ account['state'] }}</td>
			</tr>
			<tr>
				<td>PIN:</td>
				<td>{{ account['pin'] }}</td>
			</tr>
		</table>
		</div>
        <div class="trav">
            <br>
            <label>Yes, this is my Society : </label>
			<a href="{{ url_for('mregister') }}">Continue</a>
            <br><br>
            <label>No, take me back :</label>
            <a href="{{ url_for('rportal') }}">Back</a><br>
			</div>
      </form>
</body>
</html>